.articles {
  &-bg {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -1;
    max-width: 50vw;

    @media(max-width: 1024px) {
      display: none;
    }
  }

  &-content {
    position: relative;
  }

  &-search {
    margin-bottom: 45px;

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }

    .row {
      margin-left: -42px;
      margin-right: -42px;

      @media(max-width: 768px) {
        margin-left: -31px;
        margin-right: -31px;
      }
    }

    [class*="col-"] {
      width: 100%;
      padding-left: 42px;
      padding-right: 42px;

      @media(max-width: 768px) {
        padding-left: 31px;
        padding-right: 31px;
      }
    }

    .col-article-input {
      @media(min-width: 1024px) {
        max-width: 71.7%;
        flex: 0 0 71.7%;
        padding-left: 42px;
        padding-right: 42px;
      }

      img {
        position: absolute;
      }
    }

    .col-article-btn {
      @media(min-width: 1024px) {
        max-width: 28.3%;
        flex: 0 0 28.3%;
        padding-left: 42px;
        padding-right: 42px;
      }
    }

    input {
      width: 100%;
      height: 54px;
      border: 1px solid #908F8F;
      padding-left: 53px;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      background: url(../images/icons/search.svg) no-repeat scroll 13px 14px;

      @media(max-width: 768px) {
        margin-bottom: 25px;
      }

      @media(max-width: 768px) {
        height: 36px;
        background-size: 23px 19px;
        background-position: 9px 7px;
        padding-left: 36px;
      }
    }

    .object-item-link {
      margin-bottom: 0;
    }

    .btn-dark-blue {
      min-height: 54px;
      padding: 12px 0;

      &:hover {
        svg {
          stroke: #0D19A3;
        }
      }

      @media(max-width: 768px) {
        min-height: 100%;
        height: 36px;
        padding: 2px 0;
      }

      @media(max-width: 576px) {
        padding: 5px 0;
      }

      @media(max-width: 768px) {
        margin-left: auto;
        background-color: #FE9D02;
        border-color: #FE9D02;

        &:hover {
          border: 2px solid #FE9D02;
          background: transparent;
          color: #FE9D02;
        }
      }

      &.filter {
        display: none;

        @media(max-width: 768px) {
          display: block;
          margin-left: 0;
          background-color: #0D19A3;
          border-color: #0D19A3;

          &:hover {
            border: 2px solid #0D19A3;
            background: transparent;
            color: #0D19A3;
          }
        }
      }
    }
  }

  &-sidebar {
    height: 100%;

    @media(max-width: 768px) {
      display: none;
    }
  }

  &-filter {
    background-color: #F4F4F4;
    padding: 17px 18px;
    max-width: 190px;
    margin-right: 45px;
    margin-bottom: 36px;

    .object-select {
      line-height: 0;
      margin-bottom: 15px;
    }

    .custom-checkbox+label {
      border: none;
      word-break: normal;
      padding: 0;
      font-size: 15px;

      @media(max-width: 1024px) {
        font-size: 12px;
      }

      &::before {
        margin-right: 10px;
        width: 28px;
        height: 28px;
        background: #fff;
        border-color: #908F8F;
      }

      &::after {
        width: 20px;
        height: 20px;
        left: 5.5px;
      }
    }
  }

  &-new {
    background-color: #F4F4F4;
    padding: 17px 18px;
    max-width: 190px;
    margin-right: 45px;
    margin-bottom: 36px;

    &-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 12px;

      @media(max-width: 1024px) {
        font-size: 15px;
      }
    }

    a {
      display: inline-block;
      font-size: 15px;
      text-decoration: underline;
      color: #000;
      margin-bottom: 13px;

      @media(max-width: 1024px) {
        font-size: 12px;
      }

      &:hover {
        color: #0D19A3;
      }
    }
  }

  &-block {
    .row {
      margin-left: -14px;
      margin-right: -14px;
    }

    [class*="col-"] {
      padding-left: 14px;
      padding-right: 14px;

      @media(max-width: 768px) {
        &:nth-child(1n+4) {
          display: none;
        }
      }
    }

    &.articles-margin {
      margin-bottom: 45px;

      @media(max-width: 576px) {
        margin-bottom: 25px;
      }
    }

    .object-items {
      margin-bottom: 20px;

      @media(max-width: 768px) {
        margin-bottom: 6px;
      }
    }

    .section-items-link-cart {
      display: block;
      margin-bottom: 28px;
      height: calc(100% - 28px);

      @media(max-width: 768px) {
        margin-bottom: 20px;
      }

      @media(max-width: 350px) {
        height: auto;
      }
    }

    .section-object-items-cart {
      flex-direction: column;
      background-color: #F4F4F4;
      padding: 18px 15px 14px 15px;
      min-height: 460px;

      @media(max-width: 1024px) {
        min-height: 365px;
      }

      @media(max-width: 768px) {
        padding: 12px 6px;
        min-height: 165px;
        flex-direction: row;
      }

      @media(max-width: 350px) {
        flex-direction: column;
      }
    }

    .section-object-items-img {
      flex: none;
      max-width: 100%;
      // margin: auto;
      margin-bottom: 15px;

      @media(max-width: 768px) {
        flex: 0 0 200px;
        max-width: 200px;
      }

      @media(max-width: 768px) {
        margin: 0;
      }

      @media(max-width: 350px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .section-object-items-txt {
      // padding: 15px 0 15px 21px;
      padding: 0;
      flex: none;
      max-width: 100%;
      color: #000;

      @media(max-width: 768px) {
        flex: 0 0 calc(100% - 200px);
        max-width: calc(100% - 200px);
      }

      @media(max-width: 768px) {
        padding-left: 13px;
      }

      @media(max-width: 350px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px 5px;
      }
    }

    .section-object-items-desc {
      -webkit-line-clamp: 9;
      // overflow: visible;
      line-height: 1.2;

      @media(max-width: 768px) {
        font-size: 12px;
        -webkit-line-clamp: 6;
      }

      @media(max-width: 576px) {
        font-size: 10px;
      }
    }

    .section-object-items-headline {
      font-size: 20px;
      margin-bottom: 10px;
      line-height: 1.2;

      @media(max-width: 1024px) {
        font-size: 15px;
        margin-bottom: 12px;
      }

      @media(max-width: 576px) {
        font-size: 12px;
        margin-bottom: 5px;
      }

      @media(max-width: 400px) {
        word-break: break-word;
      }
    }

    .section-object-items-btn {
      bottom: 2px;
    }
  }

  &-btn {
    position: fixed;
    right: 200px;
    top: 70%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @media(max-width: 1752px) {
      right: 10px;
    }

    @media(max-width: 1380px) {
      display: none;
    }

    img {
      margin-bottom: 10px;
    }

    button {
      border: none;
      background: transparent;
      font-size: 20px;
      font-weight: 500;
      height: 30px;
      cursor: pointer;
    }
  }
}