.section {
  &-info {
    &.industrial {
      margin-bottom: 70px;

      @media(max-width: 768px) {
        margin-bottom: 13px;
      }
    }

    &-txt {
      &-btn {
        &.industrial {
          max-width: 403px;

          @media(max-width: 576px) {
            max-width: 308px;
          }
        }
      }
    }

    &-img {
      &.industrial {
        @media(max-width: 768px) {
          padding: 0 38px;
        }
      }
    }
  }

  &-equipment {
    margin-bottom: 103px;

    .flex {
      justify-content: space-between;
    }
  }

  &-choice-sidebar-txt {
    &.industrial {
      @media(max-width: 576px) {
        font-size: 18px;
      }
    }
  }

  &-complexity {
    padding: 68px 0 46px 0;
    background-color: #F4F4F4;
    position: relative;

    @media(max-width: 768px) {
      padding: 27px 0 35px 0;
    }

    &-bg {
      position: absolute;
      right: 0;
      top: -100px;
      max-width: 50vw;

      @media(max-width: 1024px) {
        display: none;
      }

      &-mob {
        display: none;

        @media(max-width: 576px) {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }


    .container {
      position: relative;
    }

    &-item {
      max-width: 258px;
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 45px;

      @media(max-width: 768px) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    &-img {
      line-height: 0;
    }

    &-caption {
      background-color: #fff;
      height: 58px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      padding: 17px 0 12px 0;

      @media(max-width: 576px) {
        font-size: 10px;
        padding: 12px 0;
        height: 40px;
      }
    }

    .swiper {
      position: initial;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @media(max-width: 400px) {
        display: none;
      }
    }

    .swiper-wrapper {
      margin-bottom: 90px;

      @media(max-width: 768px) {
        margin-bottom: 55px;
      }

      @media(max-width: 400px) {
        margin-bottom: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      border: 1px solid #000;
      // padding: 8px 15px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      content: "";
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }

    .swiper-button-next,
    .swiper-button-prev {
      bottom: 0;
      top: auto;
      transform: translateX(-50%);
      width: 45px;
      height: 45px;

      @media(max-width: 768px) {
        width: 35px;
        height: 35px;

        img {
          width: 10px;
          height: auto;
        }
      }
    }

    .swiper-button-prev {
      left: calc(50% - 70px);

      @media(max-width: 768px) {
        left: calc(50% - 60px);
      }
    }

    .swiper-button-next {
      right: calc(50% - 70px);

      @media(max-width: 768px) {
        right: calc(50% - 60px);
      }
    }
  }

  &-work {
    position: relative;
    padding-top: 20px;

    @media(max-width: 576px) {
      padding-top: 28px;
    }

    &-bg {
      position: absolute;
      z-index: 0;
      overflow: hidden;
      left: 0;
      top: 470px;
      max-width: 50vw;

      @media(max-width: 1024px) {
        display: none;
      }

      &-mob {
        display: none;

        @media(max-width: 576px) {
          display: block;
          position: absolute;
          left: 0;
          top: 20%;
        }
      }
    }

    &-caption {
      font-weight: 600;
      font-size: 35px;
      padding-top: 64px;
      padding-bottom: 22px;

      &.industrial {
        padding: 0;

        @media(max-width: 576px) {
          background-color: #fff;
        }
      }

      @media (max-width: 576px) {
        background-color: #f4f4f4;
        margin: 0;
        padding: 0 0 17px 0;
        font-size: 20px;
      }
    }

    &-cards {
      background-color: #f4f4f4;
      padding: 56px 0 162px 0;

      &.industrial {
        background-color: #fff;
        padding-top: 40px;
        padding-bottom: 68px;

        @media(max-width: 576px) {
          padding-top: 15px;
          padding-bottom: 28px;
        }
      }

      .row {
        margin-left: -12px;
        margin-right: -12px;
      }

      [class*="col-"] {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
      }

      @media (max-width: 1024px) {
        padding: 56px 0 40px 0;
      }

      @media (max-width: 576px) {
        padding-top: 0;

        .row {
          margin-left: -10px;
          margin-right: -10px;
        }

        [class*="col-"] {
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &-btn {
      text-align: center;
      margin-top: 56px;

      @media (max-width: 1024px) {
        margin-top: 24px;
      }

      @media (max-width: 576px) {
        display: none;
      }

      .btn-blue {
        display: block;
        margin: 0px auto;
        max-width: 358px;
      }
    }

    &-item {
      position: relative;
      z-index: 2;
      padding: 20px 10px;
      box-shadow: 0px 0px 19px rgba(0, 6, 73, 0.2);
      height: 100%;
      background-color: #fff;

      &.industrial {
        padding: 27px 32px 30px 32px;
        height: calc(100% - 30px);
        margin-bottom: 30px;

        @media(max-width: 576px) {
          padding: 10px 5px 15px 5px;
        }
      }

      @media (max-width: 1024px) {
        margin-bottom: 24px;
        height: calc(100% - 24px);
      }

      @media(max-width: 576px) {
        padding: 24px 7px 34px 7px;
      }
    }

    &-title {
      font-size: 104px;
      font-weight: 600;
      color: #fff;
      text-shadow: 1px 0 1px #0d19a3, 0 1px 1px #0d19a3, -1px 0 1px #0d19a3, 0 -1px 1px #0d19a3;
      margin-bottom: 15px;
      line-height: 0.8;
      text-align: center;

      @media (max-width: 576px) {
        font-size: 50px;
      }

      &.industrial {
        @media(max-width: 576px) {
          font-size: 60px;
        }
      }
    }

    &-subtitle {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;

      &.industrial {
        margin-bottom: 8px;
        text-align: center;

        @media(max-width: 576px) {
          font-size: 12px;
        }
      }

      @media (max-width: 576px) {
        font-size: 15px;
        margin-bottom: 12px;
      }
    }

    &-desc {
      text-align: center;
      font-size: 15px;

      &.industrial {
        @media(max-width: 576px) {
          font-size: 10px;
        }
      }
    }

    @media (max-width: 576px) {
      .row {
        margin-left: -12px;
        margin-right: -12px;
      }

      [class*="col-"] {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

  &-box {
    position: relative;
    z-index: 1;

    &-text {
      position: relative;
      z-index: 1;
    }

    &-bg {
      position: absolute;
      left: 0;
      top: -300px;
      max-width: 50vw;
      z-index: -1;

      @media(max-width: 1024px) {
        display: none;
      }
    }
  }

  &-questions {
    &-header {
      margin-bottom: 20px;
    }

    &-img {
      text-align: center;
      line-height: 0;

      @media(max-width: 1024px) {
        display: none;
      }
    }

    &-form-cell {
      &.industrial {
        input[type='submit'] {
          background-color: #FE9D02;
          border-color: #FE9D02;

          &:hover {
            background: transparent;
            color: #FE9D02;
            border: 2px solid #FE9D02;
          }
        }

        input {
          &:focus {
            border-color: #FE9D02;
          }

          &:hover {
            border-color: #FE9D02;
          }
        }
      }
    }
  }

  &-qualification {
    padding: 67px 0 239px 0;
    background-color: #F4F4F4;
    position: relative;
    z-index: 1;

    @media(max-width: 1024px) {
      padding: 28px 0 75px 0;
    }

    &-bg {
      position: absolute;
      right: 0;
      top: 350px;
      z-index: -1;
      max-width: 50vw;

      @media(max-width: 1024px) {
        display: none;
      }

      &-mob {
        display: none;

        @media(max-width: 576px) {
          display: block;
          position: absolute;
          left: 0;
          top: 38%;
          z-index: -1;
        }
      }
    }

    .col-none {
      @media(max-width: 1024px) {
        display: none;
      }
    }

    a {
      display: block;
      width: 100%;
      text-align: center;

      &.btn-blue {
        max-width: 337px;

        @media(max-width: 1024px) {
          max-width: 256px;
          font-size: 15px;
          font-weight: 400;
        }
      }

      @media(max-width: 1024px) {
        margin: 0px auto;
      }
    }

    .row {
      align-items: center;
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 18px;

      @media(max-width: 768px) {
        font-size: 20px;
      }
    }

    &-subtitle {
      font-size: 20px;
      margin-bottom: 20px;

      @media(max-width: 768px) {
        font-size: 15px;
      }
    }

    &-item {
      position: relative;
      padding-left: 50px;
      font-size: 20px;

      @media(max-width: 768px) {
        font-size: 15px;
        padding-left: 35px;
      }

      p {
        margin-bottom: 25px;
      }
    }

    &-check {
      position: absolute;
      left: 0;
      top: -5px;

      @media(max-width: 768px) {
        width: 25px;
        height: 25px;
        top: -2px;

      }
    }

    &-list {
      margin-bottom: 52px;

      @media(max-width: 768px) {
        margin-bottom: 23px;
      }
    }
  }

  &-quiz {
    &.industrial {
      @media(max-width: 768px) {
        padding-bottom: 0;
      }
    }

    &-content {
      position: relative;
      z-index: 1;
    }
  }

  &-serv {
    &.industrial {
      padding-top: 75px;
      margin-bottom: 0;

      @media(max-width: 768px) {
        padding-top: 28px;
      }
    }

    &-bg {
      &-mob {
        display: none;

        @media(max-width: 576px) {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    &-img-content {
      &.industrial {
        margin-bottom: 110px;
      }
    }

    &-links {
      &.industrial {
        @media(max-width: 768px) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  &-object-items {
    .col-none {
      @media(max-width: 575px) {
        display: none;
      }
    }
  }

  &-client {
    padding: 52px 0 112px 0;
    position: relative;

    @media(max-width: 768px) {
      padding: 27px 0 53px 0;
    }

    @media(max-width: 400px) {
      padding-bottom: 27px;
    }

    &-bg {
      position: absolute;
      left: 0;
      top: 62px;
      max-width: 50vw;

      @media(max-width: 1024px) {
        display: none;
      }

      &-mob {
        display: none;

        @media(max-width: 576px) {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
      }
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 42px;

      @media(max-width: 768px) {
        font-size: 20px;
      }

      @media(max-width: 576px) {
        margin-bottom: 20px;
      }
    }

    &-btn {
      .swiper-button-next,
      .swiper-button-prev {
        position: initial;
      }
    }

    &-img {
      text-align: center;
      padding: 8px;
      box-shadow: 0px 0px 5px 2px rgba(0, 6, 73, 0.2);
      margin: 0 12px;
      margin-bottom: 25px;
      line-height: 0;
      height: 82px;
      position: relative;
      background-color: #fff;

      // для картинки
      // max-height: 100px - (2 * 18) не calc
      img {
        // max-height: 64px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 0 8px;

        @media(max-width: 576px) {
          height: 25px;
        }
      }

      @media(max-width: 576px) {
        padding: 8px;
        margin: 0 10px;
        margin-bottom: 20px;
        height: 47px;
      }
    }

    .container {
      position: relative;
    }

    .swiper {
      position: initial;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0;
    }

    .swiper-button-next,
      .swiper-button-prev {
        border: 1px solid #000;
      }

      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
        content: "";
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        content: "";
      }

      .swiper-button-next,
      .swiper-button-prev {
        top: 110%;

        @media(max-width: 768px) {
          top: 104%;
        }

        @media(max-width: 400px) {
          display: none;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        bottom: 0;
        transform: translateX(-50%);
        width: 45px;
        height: 45px;

        @media(max-width: 768px) {
          width: 35px;
          height: 35px;

          img {
            width: 10px;
            height: auto;
          }
        }
      }

      .swiper-button-prev {
        left: calc(50% - 55px);
      }

      .swiper-button-next {
        right: calc(50% - 55px);
      }
  }

  &-reviews {
    padding: 68px 0;
    position: relative;

    @media(max-width: 768px) {
      padding: 27px 0;
    }

    &-slider {
      position: relative;
    }

    &-bg {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 50vw;

      @media(max-width: 1024px) {
        display: none;
      }

      &-mob {
        display: none;

        @media(max-width: 576px) {
          display: block;
          position: absolute;
          left: 0;
          top: -25px;
        }
      }
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 68px;

      @media(max-width: 768px) {
        font-size: 20px;
        margin-bottom: 27px;
      }
    }

    .swiper {
      max-width: 1040px;
    }

    .swiper-wrapper {
      margin-bottom: 40px;

      @media(max-width: 576px) {
        margin-bottom: 30px;
      }
    }

    .swiper-slide {
      text-align: center;

      img {
        @media(max-width: 576px) {
          width: 188px;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 45%;

      @media(max-width: 400px) {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      border: 1px solid #000;
      width: 45px;
      height: 45px;

      @media(max-width: 768px) {
        width: 35px;
        height: 35px;

        img {
          width: 10px;
          height: auto;
        }
      }
    }

    .swiper-pagination-bullet-active {
      @media(max-width: 768px) {
        background-color: #0D19A3;
      }
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      content: "";
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
  }

  &-content {
    &-text {
      &.industrial {
        @media(max-width: 1024px) {
          .flex {
            flex-direction: column-reverse;
          }
        }
      }

      &-desc {
        &.industrial {
          h3 {
            @media(max-width: 1024px) {
              display: none;
            }
          }
        }
      }

      &-img {
        &.industrial {
          padding-top: 70px;

          @media(max-width: 1024px) {
            padding-top: 0;
          }
        }
      }
    }
  }
}