.section {
  &-info {
    position: relative;
    padding: 65px 0 144px 0;
    background: -webkit-linear-gradient(270deg, rgb(244, 244, 244) 43%, rgb(255, 255, 255) 29%);
    background: -moz-linear-gradient(270deg, rgb(244, 244, 244) 43%, rgb(255, 255, 255) 29%);
    background: linear-gradient(270deg, rgb(244, 244, 244) 43%, rgb(255, 255, 255) 29%);
    z-index: 1;
    overflow: hidden;

    @media (max-width: 1024px) {
      background-image: none;
      background-color: #fff;
      padding: 20px 0;
    }

    &-bgs {
      &-left {
        position: absolute;
        top: 0;
        left: 0;

        @media (max-width: 1024px) {
          display: none;
        }
      }

      &-right {
        position: absolute;
        top: -50px;
        left: 50%;

        @media (max-width: 1024px) {
          right: -30px;
          top: 20%;
        }
      }
    }

    .row {
      align-items: center;
    }

    &-txt {
      position: relative;
      z-index: 1;
      border-left: 7px solid #0d19a3;
      padding: 20px 0 25px 35px;

      @media (max-width: 1024px) {
        padding: 11px 0 11px 17px;
      }

      &-title {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 15px;

        @media (max-width: 576px) {
          font-size: 20px;
        }
      }

      &-subtitle {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 52px;

        @media (max-width: 576px) {
          font-size: 15px;
          margin-bottom: 20px;
        }

        span {
          font-weight: 700;
        }
      }

      &-btn {
        width: 100%;
        max-width: 234px;
        padding: 7px 0;
        background-color: #fe9d02;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        border: 2px solid #fe9d02;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
          border: 2px solid #fe9d02;
          background: transparent;
          color: #fe9d02;
        }

        @media (max-width: 576px) {
          padding: 4px 0;
          max-width: 161px;
        }
      }
    }

    &-img {
      max-width: 518px;
      position: relative;
      z-index: 1;

      @media (max-width: 1024px) {
        max-width: 100%;
        text-align: center;
      }

      @media(max-width: 768px) {
        padding: 0 68px;
      }

      @media(max-width: 380px) {
        padding: 0 30px;
      }
    }
  }

  &-possibility {
    background-color: #0d19a3;
    position: relative;
    z-index: 1;
    margin-bottom: 68px;

    @media (max-width: 576px) {
      background-color: #fff;
      margin-bottom: 28px;
    }

    .flex {
      @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-carts {
      display: flex;

      @media (max-width: 1024px) {
        &:nth-child(1) {
          border-bottom: 5px solid #fff;
          position: relative;
        }
      }

      &:nth-child(1) {
        .section-possibility-cart{
          &:nth-child(1) {
            border-left: 3px solid #fff;

            @media(max-width: 1024px) {
              border-left: none;
            }
          }
        }
      }
    }

    &-cart {
      max-width: 294px;
      width: 100%;
      border-right: 3px solid #fff;

      @media (max-width: 1024px) {
        background-color: #0d19a3;
      }

      &:nth-child(1) {
        @media (max-width: 1024px) {
          border: none;

          &::before {
            content: "";
            position: absolute;
            left: -1000px;
            right: 0;
            bottom: -5px;
            height: 5px;
            background: #fff;
          }

          &:nth-child(odd) {
            border-right: 5px solid #fff;
          }
        }
      }

      &:nth-child(2) {
        @media(max-width: 1024px) {
          &::before {
            content: "";
            position: absolute;
            right: -1000px;
            left: 0;
            bottom: -5px;
            height: 5px;
            background: #fff;
          }
        }
      }

      @media (max-width: 1024px) {
        border: none;
      }
    }

    &-block {
      height: 100%;
    }

    &-item {
      padding: 24px 17px 36px 17px;

      @media (max-width: 576px) {
        padding: 10px 5px;
      }
    }

    &-txt {
      text-align: center;

      &-title {
        font-size: 64px;
        font-weight: 900;
        color: #0d19a3;
        text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
        margin-bottom: 10px;

        @media (max-width: 576px) {
          font-size: 30px;
        }
      }

      &-subtitle {
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;

        @media (max-width: 576px) {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }

      &-slogan {
        font-size: 15px;
        font-weight: 400;
        color: #fff;

        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }
  }

  &-serv {
    margin-bottom: 125px;

    @media(max-width: 576px) {
      margin-bottom: 88px;
    }

    @media(max-width: 1024px) {
      [class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &-text {
      max-width: 689px;

      @media(max-width: 1024px) {
        max-width: 100%;
      }
    }

    &-txt {
      @media(max-width: 576px) {
        &:last-child {
          display: none;
        }
      }
    }

    &-link {
      margin-bottom: 58px;
      position: relative;
      padding-left: 35px;

      @media (max-width: 1024px) {
        padding-left: 60px;
      }

      @media (max-width: 576px) {
        margin-bottom: 24px;
        padding-left: 40px;
      }

      a {
        text-decoration: underline;

        &:hover {
          color: #0d19a3;
        }
      }

      &-inner {
        position: relative;
        font-size: 25px;
        color: #000;
        transition: all 0.2s ease-out;

        &::before {
          content: "";
          position: absolute;
          background-image: url(../images/our-serv.png);
          background-repeat: no-repeat;
          left: -60px;
          display: inline-block;
          width: 40px;
          height: 40px;
          opacity: 1;

          @media (max-width: 576px) {
            top: 0;
            left: -40px;
            background-size: 25px;
            width: 25px;
            height: 25px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background-image: url(../images/checklink.png);
          background-repeat: no-repeat;
          top: 0;
          left: -60px;
          display: inline-block;
          width: 40px;
          height: 40px;
          opacity: 0;

          @media (max-width: 576px) {
            top: 0;
            left: -40px;
            background-size: 25px;
            width: 25px;
            height: 25px;
          }
        }

        @media (max-width: 576px) {
          font-size: 15px;
        }

        &:hover {
          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .col-none {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    &-block {
      position: absolute;
      left: 0;
      top: -140px;
      width: 100%;
      height: 760px;
      z-index: -1;
      background-color: #f4f4f4;

      @media (max-width: 1024px) {
        background-color: #fff;
      }

      &::before {
        content: "";
        position: absolute;
        left: -1000px;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: #f4f4f4;
        z-index: 999;
      }

      &::after {
        content: "";
        position: absolute;
        right: -60px;
        left: 0;
        bottom: 0;
        height: 100%;
        background-color: #f4f4f4;
        z-index: 999;
      }

      @media (max-width: 576px) {
        height: 350px;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 30px;

      @media (max-width: 576px) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    &-sub {
      font-weight: 400;
      font-size: 25px;
      margin-bottom: 15px;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }

    .flex {
      justify-content: space-between;
    }

    &-obgImg {
      @media(max-width: 1024px) {
        display: none;
      }
    }

    &-txt {
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 20px;

      @media (max-width: 576px) {
        font-size: 12px;
      }
    }

    &-img {
      &-content {
        position: relative;
        margin-bottom: 188px;
      }

      img {
        box-shadow: 5px 4px 29px rgba(0, 0, 0, 0.25);
      }
    }

    &-links {
      padding-top: 52px;
      display: block;

      @media (max-width: 1024px) {
        padding-bottom: 28px;
        padding-top: 0;
        margin-bottom: 25px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -15px;
          right: -15px;
          background-color: #f4f4f4;
          z-index: -1;
          top: -200px;
        }
      }

      .flex {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-choice {
    background-color: #0d19a3;
    position: relative;
    z-index: 1;

    &-sidebar {
      height: auto;
      padding: 68px 0;
      position: absolute;
      top: -40%;
      left: 0;
      width: 35%;
      background: #fe9d02;
      font-weight: 600;
      font-size: 35px;
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: -1000px;
        right: 0;
        bottom: 0;
        height: 100%;
        background: #fe9d02;
        z-index: 999;
      }

      &-txt {
        position: relative;
        z-index: 999;
        text-align: end;
        padding: 0 34px 0 0;

        @media (max-width: 1024px) {
          padding: 0;
        }
      }

      @media (max-width: 1024px) {
        padding: 12px 0;
        font-size: 25px;
        width: 44%;
        top: -30%;
        text-align: end;
        padding-right: 10px;
      }

      @media(max-width: 576px) {
        font-size: 18px;
        top: -55%;
      }

      @media (max-width: 400px) {
        top: -25%;
      }
    }

    @media (max-width: 576px) {
      background-color: #fff;
    }

    .flex {
      justify-content: flex-end;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-carts {
      display: flex;
      width: 65%;

      @media (max-width: 400px) {
        flex-wrap: wrap;
      }

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    &-cart {
      flex: 0 0 33.3%;
      max-width: 33.3%;

      width: 100%;
      border-right: 1px solid #fff;

      @media (max-width: 1024px) {
        background-color: #0d19a3;
      }

      @media (max-width: 576px) {
        border-right: 4px solid #fff;
      }

      @media (max-width: 400px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
        border-right: 0;
      }

      &:nth-child(1) {
        border-left: 1px solid #fff;

        @media (max-width: 576px) {
          border-left: none;
        }
      }

      &:nth-child(2) {
        &::before {
          content: "";
          position: absolute;
          right: -1000px;
          left: 0;
          bottom: -5px;
          height: 5px;
          background: #fff;
        }
      }

      &:last-child {
        @media (max-width: 576px) {
          border-right: none;
        }
      }
    }

    &-block {
      height: 100%;
    }

    &-item {
      padding: 36px 17px;

      @media (max-width: 576px) {
        padding: 20px 7px;
      }
    }

    &-txt {
      text-align: center;

      &-img {
        @media (max-width: 576px) {
          margin: 0px auto;
          margin-bottom: 5px;
          max-width: 43px;
        }
      }

      &-title {
        font-size: 64px;
        font-weight: 900;
        color: #0d19a3;
        text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
        margin-bottom: 10px;

        @media (max-width: 576px) {
          font-size: 30px;
        }
      }

      &-subtitle {
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;

        @media (max-width: 1024px) {
          font-size: 20px;
        }

        @media (max-width: 576px) {
          font-size: 12px;
          margin-bottom: 0;
        }
      }

      &-slogan {
        font-size: 15px;
        font-weight: 400;
        color: #fff;

        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }
  }

  &-design {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &-slider {
      line-height: 0;
      box-shadow: 0px 0px 49px 9px rgba(0, 0, 0, 0.15);
      margin-bottom: 38px;

      @media(max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    &-decision {
      padding: 68px 0 0 0;
      margin-bottom: 65px;

      @media (max-width: 576px) {
        padding: 60px 0 0 0;
        margin-bottom: 40px;
      }

      &-ex {
        @media (max-width: 1024px) {
          text-align: center;
        }
      }

      p {
        font-weight: 600;
        font-size: 35px;

        @media (max-width: 576px) {
          font-size: 20px;
          margin-bottom: 0;
        }
      }

      span {
        @media (max-width: 576px) {
          font-size: 12px;;
        }
      }

      &-img {
        text-align: center;

        @media (max-width: 576px) {
          margin-bottom: 35px;
          padding: 0 70px;
        }
      }

      &-title {
        margin-bottom: 30px;
      }

      &-subtitle {
        display: block;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 48px;

        @media (max-width: 576px) {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }

      &-item {
        position: relative;
        margin-bottom: 28px;
        padding-left: 60px;

        @media (max-width: 576px) {
          text-align: center;
          padding-left: 0;
        }
      }

      &-check {
        position: absolute;
        left: 0;

        @media (max-width: 576px) {
          position: static;
        }
      }

      &-list {
        padding-top: 48px;
        margin-bottom: 68px;

        @media (max-width: 576px) {
          display: flex;
          margin-bottom: 4px;
          gap: 5px;

          p {
            font-size: 15px;
          }
        }
      }

      &-block {
        @media (max-width: 1024px) {
          text-align: center;
        }
      }

      &-btn {
        font-weight: 500;
        font-size: 25px;
        padding: 7px 0;
        width: 84%;
        color: #fff;
        background-color: #07bca9;
        cursor: pointer;
        border: 2px solid #07bca9;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: 2px solid #07bca9;
          color: #07bca9;
          background: transparent;
        }

        @media(max-width: 576px) {
          width: 65%;
        }

        @media(max-width: 370px) {
          width: 100%;
        }
      }

      &-desc {
        font-size: 15px;

        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }

    &-stocks {
      margin-bottom: 68px;

      @media(max-width: 576px) {
        margin-bottom: 35px;
      }

      p {
        text-align: center;
        font-weight: 600;
        font-size: 35px;

        @media (max-width: 576px) {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }

    &-bg {
      &-rg {
        display: none;

        @media (max-width: 576px) {
          display: block;
          position: absolute;
          left: 0;
          top: -25px;
          z-index: -1;
        }
      }

      &-lft {
        display: none;

        @media (max-width: 576px) {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: -1;
        }
      }

      &-main {
        position: absolute;
        left: 0;
        bottom: -50%;
        z-index: -1;

        @media (max-width: 576px) {
          display: none;
        }
      }
    }
  }

  &-article {
    background-color: #0d19a3;
    padding: 48px 0 50px 0;

    @media(max-width: 576px) {
      padding: 17px 0 20px 0;
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      color: #fff;
      margin-bottom: 30px;
    }

    &-img {
      img {
        @media (max-width: 768px) {
          width: 100%;
          height: 182px;
          object-fit: cover;
        }
      }
    }

    [class*="col-"] {
      width: 100%;
      padding-left: 8px;
      padding-right: 8px;

      @media (max-width: 576px) {
        padding-left: 6px;
        padding-right: 6px;
      }
    }

    .row {
      margin-left: -8px;
      margin-right: -8px;

      @media (max-width: 576px) {
        margin-left: -6px;
        margin-right: -6px;
      }
    }

    &-cart {
      position: relative;
      margin-bottom: 50px;
      display: inline-block;
      overflow: hidden;

      &:hover {
        .section-article-img {
          transform: scale(1.05);
        }
      }

      @media (max-width: 576px) {
        margin-bottom: 25px;
      }
    }

    &-img {
      line-height: 0;
      transition: 0.3s;
      display: block;
    }

    .col-none {
      @media (max-width: 575px) {
        display: none;
      }
    }

    &-txt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      bottom: 23px;
      left: 15px;
      height: 100%;
      max-height: 35%;

      @media (max-width: 1024px) {
        bottom: 20px;
        left: 15px;
        right: 15px;
        height: 100%;
        max-height: calc(100% - 35px);
      }

      @media (max-width: 576px) {
        max-height: calc(100% - 87px);
        left: 11px;
        right: 6px;
      }

      @media (max-width: 440px) {
        max-height: calc(100% - 28px);
        padding-top: 40px;
      }

      @media (max-width: 335px) {
        max-height: calc(100% - 22px);
        padding-top: 0;
      }
    }

    &-caption {
      color: #fff;
      font-weight: 700;
      font-size: 15px;

      @media(max-width: 992px) {
        font-size: 12px;
      }

      @media (max-width: 768px) {
        bottom: 80px;
      }
    }

    &-desc {
      color: #fff;
      font-weight: 400;
      font-size: 12px;

      @media (max-width: 576px) {
        font-size: 10px;
      }
    }

    &-btn {
      text-align: center;
    }

    &-more {
      padding: 7px 0;
      max-width: 294px;
      width: 100%;
      color: #fff;
      font-weight: 500;
      font-size: 25px;
      border: 2px solid #07bca9;
      background-color: #07bca9;
      transition: all 0.2s ease-out;
      cursor: pointer;

      &:hover {
        color: #07bca9;
        background: transparent;
        border: 2px solid #07bca9;
      }
    }
  }

  &-object {
    .col-none {
      @media (max-width: 575px) {
        display: none;
      }
    }

    &-carts {
      .row {
        margin-left: -56px;
        margin-right: -56px;

        @media (max-width: 1024px) {
          margin-left: -6px;
          margin-right: -6px;
        }
      }

      [class*="col-"] {
        width: 100%;
        padding-left: 56px;
        padding-right: 56px;

        @media (max-width: 1024px) {
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }

    &-items {
      padding: 68px 0;
      background-color: #f4f4f4;

      @media(max-width: 768px) {
        padding-top: 39px;
        padding-bottom: 24px;
        margin-bottom: 25px;
      }

      &-title {
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      &-subtitle {
        font-size: 25px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          display: none;
        }
      }

      &-carts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;

        @media (max-width: 768px) {
          margin-bottom: 24px;
        }
      }

      &-btn {
        position: absolute;
        bottom: 5px;
        right: 10px;
      }

      &-cart {
        background-color: #0d19a3;
        position: relative;
        display: inline-block;
        max-width: 318px;
        height: 100%;

        &:hover {
          .section-object-items-img {
            img {
              transform: scale(1.05);
            }
          }

          .section-object-items-btn {
            img {
              transition: all 0.3s ease-out;
              opacity: 0.35;
            }
          }
        }

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      &-txt {
        padding: 9px 15px 24px 15px;
        color: #fff;

        @media (max-width: 768px) {
          padding: 9px 5px 28px 5px;
        }
      }

      &-headline {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 4px;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      &-desc {
        font-size: 15px;

        @media (max-width: 768px) {
          font-size: 10px;
        }
      }

      &-img {
        line-height: 0;
        display: block;
        overflow: hidden;

        img {
          transition: 0.3s;
          max-width: 363px;
          width: 100%;
        }
      }

      &-link {
        padding: 7px 23px;
        background-color: #fe9d02;
        text-align: center;
        max-width: 362px;
        margin: 0px auto;
        transition: all 0.2s ease-out;
        border: 2px solid #fe9d02;

        &:hover {
          background: transparent;
          color: #fe9d02;
          border-radius: 2px solid #fe9d02;

          a {
            color: #fe9d02;
          }
        }

        @media (max-width: 400px) {
          margin: 0 40px;
        }

        a {
          color: #fff;
          font-size: 25px;
          font-weight: 500;

          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
      }
    }

    &-list {
      padding: 68px 0;

      @media (max-width: 768px) {
        padding: 0;
        margin-bottom: 15px;
      }
    }

    &-text {
      &-desc {
        h2 {
          margin-top: 0;

          @media (max-width: 768px) {
            font-size: 20px;
          }
        }

        h4 {
          @media (max-width: 768px) {
            font-size: 15px;
            margin-bottom: 0px;
            word-spacing: -1px;
            word-break: break-word;
          }
        }

        p {
          font-weight: 400;
          font-size: 25px;

          @media (max-width: 768px) {
            font-size: 12px;
          }
        }

        ul {
          padding-left: 25px;
          margin-bottom: 25px;

          @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 20px;
          }
        }

        li {
          position: relative;
          margin-bottom: 2px;
          font-weight: 400;
          font-size: 25px;
          margin-bottom: 20px;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          &::before {
            display: inline-block;
            position: absolute;
            left: -15px;
            top: 15px;
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #000;

            @media (max-width: 768px) {
              top: 8px;
              width: 2px;
              height: 2px;
            }
          }
        }
      }
    }
  }

  &-box {
    &-text {
      padding: 60px 0;
      background-color: #0d19a3;
      color: #fff;

      .row {
        align-items: center;
      }

      @media (max-width: 767px) {
        padding: 20px 0;

        &.up {
          .row {
            flex-direction: column-reverse;
          }
        }
      }

      &-desc {
        h3 {
          color: #fff;
          margin-top: 0px;

          @media (max-width: 1024px) {
            font-size: 15px;
          }
        }

        p {
          font-weight: 400;
          font-size: 15px;

          @media (max-width: 1024px) {
            font-size: 12px;
            margin-bottom: 0;

            br {
              display: none;
            }
          }
        }
      }

      &-img {
        @media (max-width: 768px) {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }

    &-link {
      background-color: #fa3c1b;
      text-align: center;
      padding: 20px 0;
      transition: all 0.2s ease-out;

      @media (max-width: 1024px) {
        padding: 6px 0;
      }

      &:hover {
        background-color: #FE9D02;
      }

      a {
        display: block;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 25px;
        transition: all 0.2s ease-out;

        @media (max-width: 1024px) {
          font-size: 20px;
        }
      }
    }
  }

  &-list {
    padding: 56px 0;

    @media (max-width: 1024px) {
      padding: 20px 0;
    }

    &-text {
      &-desc {
        h3 {
          margin-top: 0;

          @media (max-width: 768px) {
            font-size: 15px;
            margin-bottom: 10px;
          }
        }

        p {
          font-weight: 400;
          font-size: 15px;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          &:nth-child(3) {
            @media(max-width: 768px) {
              margin-bottom: 0;
            }
          }
        }

        ul {
          padding-left: 25px;
          margin-bottom: 25px;

          @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 20px;
          }
        }

        li {
          position: relative;
          margin-bottom: 2px;
          font-weight: 400;
          font-size: 15px;
          margin-bottom: 0;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          &::before {
            display: inline-block;
            position: absolute;
            left: -15px;
            top: 9px;
            content: "";
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #000;

            @media (max-width: 768px) {
              top: 8px;
              width: 2px;
              height: 2px;
            }
          }
        }
      }
    }
  }

  &-content {
    background-image: url("../images/bgs/circleB.svg");
    background-repeat: no-repeat;
    background-position: left;

    @media (max-width: 1024px) {
      background-image: none;
    }

    .flex {
      justify-content: space-between;

      @media(max-width: 1024px) {
        flex-direction: column-reverse
      }
    }

    &-list {
      padding: 57px 0;

      @media (max-width: 768px) {
        padding: 25px 0;
      }

      &-desc {
        p {
          font-weight: 400;
          font-size: 15px;

          @media (max-width: 768px) {
            font-size: 12px;
          }
        }

        ul {
          padding-left: 25px;
          margin-bottom: 25px;

          &:nth-child(2) {
            margin-bottom: 0;
          }

          @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 0;
          }
        }

        li {
          position: relative;
          font-weight: 400;
          font-size: 15px;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          &::before {
            display: inline-block;
            position: absolute;
            left: -15px;
            top: 9px;
            content: "";
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #000;

            @media (max-width: 768px) {
              top: 8px;
              width: 2px;
              height: 2px;
            }
          }
        }

        &:nth-child(1) {
          p {
            &:nth-child(2) {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &-text {
      background-color: #f4f4f4;
      padding-bottom: 58px;

      @media(max-width: 1024px) {
        padding-bottom: 20px;
      }

      &-desc {
        max-width: 601px;

        @media(max-width: 1024px) {
          max-width: 100%;
        }

        h3 {
          margin-top: 15px;
          
          @media (max-width: 768px) {
            font-size: 15px;
            margin-top: 25px;
            margin-bottom: 20px;
          }
        }
        p {
          font-weight: 400;
          font-size: 15px;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          @media(max-width: 1024px) {
            br {
              display: none;
            }
          }

          &:nth-child(3) {
            margin-bottom: 0;
          }

          &:last-child {
            @media(max-width: 768px) {
                margin-bottom: 0;
            }
          }
        }

        ul {
          padding-left: 25px;
          margin-bottom: 25px;

          @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 20px;
          }
        }

        li {
          position: relative;
          font-weight: 400;
          font-size: 15px;

          @media (max-width: 768px) {
            font-size: 12px;
          }

          &::before {
            display: inline-block;
            position: absolute;
            left: -15px;
            top: 9px;
            content: "";
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #000;

            @media (max-width: 768px) {
              top: 8px;
              width: 2px;
              height: 2px;
            }
          }
        }
      }

      &-img {
        @media (max-width: 1024px) {
          text-align: center;
        }
      }
    }
  }

  &-questions {
    background-color: #0d19a3;
    padding: 57px 0;

    @media (max-width: 1024px) {
      padding: 12px 0;
    }

    &-title {
      font-weight: 600;
      font-size: 35px;
      color: #fff;
      margin-bottom: 50px;

      @media (max-width: 1024px) {
        font-size: 20px;
        text-align: center;
        margin-bottom: 12px;
      }
    }

    &-form {
    [class*="col-"] {
      @media (max-width: 1024px) {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    .row {
      @media (max-width: 1024px) {
        margin-left: -12px;
        margin-right: -12px;
      }
    }

    &-cell {
      @media(max-width: 1024px) {
        margin-bottom: 12px;
      }
    }

    input {
      width: 100%;
      height: 54px;
      border: none;
      outline: none;
      text-align: center;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      background-color: #f4f4f4;
      border: 2px solid #f4f4f4;
      transition: all 0.2s ease-out;

      &:hover {
        border-color: rgb(60, 216, 255);
      }

      &:focus {
        border-color: rgb(60, 216, 255);
      }

      &:focus::-webkit-input-placeholder {
        color: transparent;
      }

      @media (max-width: 1024px) {
        height: 36px;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 15px;
        color: #0d19a3;
      }

      @media (max-width: 1024px) {
        margin-right: 0;
        max-width: 100%;
      }
    }

    input[type="submit"] {
      background-color: #07bca9;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      cursor: pointer;
      border: 2px solid #07bca9;

      &:hover {
        background: transparent;
        color: #07bca9;
        border: 2px solid #07bca9;
      }
    }
    }
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination {
  position: relative;
  display: block;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 17px;
  height: 17px;

  &-active {
    background-color: #fe9d02;
  }
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

h4 {
  font-weight: 500;
  font-size: 25px;
}

span.error {
  font-weight: 400;
  color: #FA3C1B;
}