.object-item {
  &-gallery {
    padding: 37px 0 0 0;

    @media(max-width: 1024px) {
      padding-top: 20px;
    }

    @media(max-width: 576px) {
      padding: 0;
    }

    .row {
      margin-left: -17px;
      margin-right: -17px;

      @media(max-width: 768px) {
        margin-left: -5px;
        margin-right: -5px;
      }
    }

    [class*="col-"] {
      padding-left: 17px;
      padding-right: 17px;

      @media(max-width: 768px) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    @media(max-width: 576px) {
      text-align: center;

      img {
        margin-bottom: 13px;
      }
    }
  }

  h5 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.section-box-text.object-item2 {
  .row {
    @media(max-width: 1024px) {
      flex-direction: column-reverse
    }
  }

  @media(max-width: 1024px) {
    h3:last-of-type {
      margin-bottom: 10px;
    }
  }
}

.section-box-text-desc.object-item2 {
  font-size: 18px;

  @media(max-width: 1024px) {
    background-color: #F4F4F4;
    padding: 17px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: -1000px;
      left: 0;
      bottom: 0;
      height: 100%;
      background-color: #F4F4F4;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      left: -1000px;
      right: 0;
      bottom: 0;
      height: 100%;
      background-color: #F4F4F4;
      z-index: -1;
    }

    h5 {
      font-size: 15px;
    }

    h3 {
      margin-bottom: 10px;
    }
  }

  @media(max-width: 576px) {
    padding: 20px 0;
    h5 {
      margin-bottom: 0;
    }
  }
}

.section-box-text.object-item2-txt {
  @media(max-width: 576px) {
    h3:last-of-type {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    img {
      margin-bottom: 5px;
    }
  }
}

.col-gallery {
  @media(min-width: 480px) {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}