.section-thanks-img {
  &.page-404 {
    @media(max-width: 768px) {
      padding: 0 25px;
    }
  }
}

.section-thanks {
  &.page-404 {
    @media(max-width: 1024px) {
      padding-top: 25px;

    }

    @media(min-width: 1024px) {
      .col-md-5 {
        flex: 0 0 43.66667%;
        max-width: 43.66667%;
      }

      .col-md-7 {
        flex: 0 0 56.33333%;
        max-width: 56.33333%;
      }
    }

    .row {
      margin-left: -13px;
      margin-right: -13px;
    }

    [class*="col-"] {
      width: 100%;
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}

.section-info-txt-subtitle {
  &.page-404 {
    @media(max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}