.privacy {
  &-content {
    margin-bottom: 65px;
    font-size: 18px;
    line-height: 1.2;

    @media(max-width: 576px) {
      font-size: 10px;
      margin-bottom: 32px;
    }

    h3 {
      text-align: center;
      margin-bottom: 14px;
      margin-top: 46px;

      @media(max-width: 576px) {
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 7px;
      }
    }
  }
}