// base
@import "grid.scss";
@import "mixin.scss";
@import "typography.scss";

// pages
@import "inc-header.scss";
@import "inc-header2.scss";
@import "index.scss";
@import "ventilation.scss";
@import "vent-house.scss";
@import "vent-building.scss";
@import "inc-footer.scss";

// popups
@import "./popups/price.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: rem(16px);
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  // padding-bottom: 50px;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media(max-width: 576px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
