.ventilation {
  .section {
    &-info {
      background: none;
      position: relative;
      padding: 55px 0 64px 0;

      &-txt {
        padding: 0 0 2px 35px;
        max-width: 560px;

        &-title {
          margin-top: 0;
          margin-bottom: 20px;
        }
      }

      &-item {
        position: relative;
        padding-left: 50px;

        &:last-child {
          p {
            margin-bottom: 0;
          }
        }

        p {
          margin-bottom: 25px;
          font-size: 20px;
          font-weight: 500;
        }
      }

      &-check {
        position: absolute;
        left: 0;
      }

      &-img {
        max-width: 100%;
        position: absolute;
        right: 300px;
        top: 0;
      }
    }

    &-questions {
      padding: 37px 0 50px 0;

      @media(max-width: 576px) {
        padding: 30px 0;
      }

      input {
        &:hover {
          border-color: #FE9D02;
        }

        &:focus {
          border-color:#FE9D02;
        }
      }

      input[type="submit"] {
        background-color: #FE9D02;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        border-color:#FE9D02;

        &:hover {
          background: transparent;
          color: #FE9D02;
          border-color:#FE9D02;
        }
      }

      &-title {

        @media(max-width: 576px) {
          margin-bottom: 20px;
          line-height: 29px;
        }
      }

      &-form-cell {
        @media(max-width: 576px) {
          margin-bottom: 0;
        }
      }
    }

    &-solutions {
      .flex {
        align-items: center;
        justify-content: space-between;
      }

      &-txt {
        max-width: 640px;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 60px;
      }

      &-type {
        padding: 60px 0;

        &.grey {
          &.bg-left {
            background-color: #F4F4F4;
            position: relative;
            z-index: 1;
  
            &::before {
              content: "";
              position: absolute;
              left: -1000px;
              right: 0;
              bottom: 0;
              height: 100%;
              background-color: #f4f4f4;
              z-index: -1;
            }
          }

          &.bg-right {
            background-color: #F4F4F4;
            padding: 80px 22px 47px 0;
            position: relative;
            z-index: 1;
  
            &::before {
              content: "";
              position: absolute;
              right: -1000px;
              left: 0;
              bottom: 0;
              height: 100%;
              background-color: #f4f4f4;
              z-index: -1;
            }
          }
        }
        
        h3 {
          margin-top: 0;
          margin-bottom: 12px;
        }

        p {
          font-size: 20px;
          margin-bottom: 12px;

          &:nth-child(3) {
            margin-bottom: 32px;
          }
        }
      }
      
      &-item {
        padding-bottom: 50px;
      }

      &-price {
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 32px;
      }

      &-btn {
        
        .btn-blue {
          max-width: 382px;
          width: 100%;
          height: 54px;
        }
      }
    }

    &-gift {
      background-color: #0D19A3;

      @media(max-width: 1024px) {
        padding: 36px 0;
      }

      .flex {
        justify-content: space-between;
        align-items: center;
      }

      &-text {
        max-width: 700px;

        @media(max-width: 1024px) {
          max-width: 100%;
          width: 100%;
        }

        h2 {
          color: #fff;
          margin-bottom: 55px;
          margin-top: 0;

          @media(max-width: 1024px) {
            font-size: 20px;
            margin-bottom: 24px;
            text-align: center;
          }
        }

        .btn-orange {
          max-width: 430px;
        }
      }

      &-img {
        @media(max-width: 1024px) {
          display: none;
        }
      }

      input {
        width: 100%;
        height: 54px;
        border: none;
        outline: none;
        text-align: center;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        background-color: #f4f4f4;
        border: 2px solid #f4f4f4;
        transition: all 0.2s ease-out;

        @media(max-width: 1024px) {
          margin-bottom: 15px;
          font-size: 15px;
          font-weight: 400;
        }

        &:hover {
          border-color: #FE9D02;
        }

        &:focus {
          border-color: #FE9D02;
        }

        &:focus::-webkit-input-placeholder {
          color: transparent;
        }

        @media (max-width: 1024px) {
          height: 36px;
        }

        &::placeholder {
          font-weight: 400;
          font-size: 15px;
          color: #C4C4C4;
        }

        @media (max-width: 1024px) {
          margin-right: 0;
          max-width: 100%;
        }
      }

      input[type="submit"] {
        background-color: #FE9D02;
        color: #fff;
        font-weight: 500;
        font-size: 25px;
        cursor: pointer;
        border: 2px solid #FE9D02;
        max-width: 430px;

        @media(max-width: 1024px) {
          max-width: 100%;
          margin-bottom: 0;
          font-size: 15px;
        }

        &:hover {
          background: transparent;
          color: #FE9D02;
          border: 2px solid #FE9D02;
        }
      }
    }

    &-work {
      &-caption {
        font-weight: 600;
        font-size: 35px;
        margin-top: 64px;
        margin-bottom: 22px;
      }

      &-cards {
        background-color: #F4F4F4;
        padding: 56px 0 162px 0;
      }

      &-btn {
        text-align: center;
        margin-top: 56px;

        .btn-blue {
          max-width: 358px;
        }
      }


      &-item {
        padding: 20px 10px;
        box-shadow: 0px 0px 19px rgba(0, 6, 73, 0.2);
        height: 100%;
        background-color: #fff;

        @media(max-width: 1024px) {
          margin-bottom: 20px;
          height: 100%;
        }
      }

      &-title {
        font-size: 104px;
        font-weight: 600;
        color: #fff;
        text-shadow: 1px 0 1px #0d19a3, 0 1px 1px #0d19a3, -1px 0 1px #0d19a3, 0 -1px 1px #0d19a3;
        margin-bottom: 15px;
        line-height: 0.8;
        text-align: center;

        @media(max-width: 576px) {
          font-size: 50px;
        }
      }

      &-subtitle {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 24px;

        @media(max-width: 576px) {
          font-size: 15px;
        }
      }

      &-list {
        ul {
          padding-left: 28px;
          margin-bottom: 0;
        }

        li {
          position: relative;
          font-weight: 400;
          font-size: 15px;
          margin-bottom: 15px;

          @media(max-width: 576px) {
            font-size: 12px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &::before {
            display: inline-block;
            position: absolute;
            left: -28px;
            top: 2px;
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #0D19A3;
          }
        }
      }

      @media(max-width: 576px) {
        .row {
          margin-left: -12px;
          margin-right: -12px;
        }

        [class*="col-"] {
          width: 100%;
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }

    &-feedbacks {
      padding: 67px 0 40px 0;

      @media(max-width: 576px) {
        padding: 28px 0;
      }

      h2 {
        margin-top: 0;
      }

      .swiper.feedback {
        @media(min-width: 1024px) {
          display: none;
        }

        @media(max-width: 1024px) {
          .section-feedback {
            display: block;
          }
        }
      }

      .swiper-pagination-bullet {
        border-radius: 0;
        width: 17px;
        height: 17px;

        &-active {
          background-color: #0D19A3;
        }
      }
    }

    &-object {
      &-items {
        @media(max-width: 576px) {
          margin-bottom: 0;
        }
      }
    }

    &-feedback {
      background-color: #F4F4F4;
      box-shadow: 0px 2px 25px rgba(2, 8, 82, 0.11);
      margin-bottom: 48px;

      @media(max-width: 1024px) {
        display: none;
        margin-bottom: 0;
      }

      .flex {
        align-items: center;
      }

      &-text {
        max-width: 938px;
        padding-left: 18px;

        @media(max-width: 1024px) {
          display: flex;
          flex-direction: column-reverse;
          padding: 20px 12px;
        }

        p {
          font-size: 15px;
          margin-bottom: 12px;

          &:last-child {
            font-weight: 600;
            font-size: 15px;
            margin-bottom: 0;

            @media(max-width: 1024px) {
              margin-bottom: 8px;
            }
          }
        }
      }

      &-img {
        line-height: 0;

        @media(max-width: 1024px) {
          display: none;
        }
      }
    }

    &-possibility {
      margin-top: 75px;
      margin-bottom: 0;

      &-item {
        padding: 38px 0 18px 0;
        height: 100%;

        @media(max-width: 576px) {
          padding: 27px 0 27px 0;
        }
      }

      &-txt {
        &-icon{
          height: 90px;
          margin-bottom: 8px;

          @media(max-width: 576px) {
            display: none;
          }
        }

        &-subtitle {
          margin-bottom: 8px;
        }

        &-slogan {
          padding: 0 18px;

          @media(max-width: 576px) {
            padding: 0 5px; 
          }
        }
      }
    }

    &-choice {
      &-sidebar {
        top: -67%;

        @media(max-width: 1024px) {
          top: -46px;
        }
      }
    }

    &-list {
      background-color: #F4F4F4;
      
      span {
        font-weight: 600;
      }
    }
    &-content {
      &-text {
        .flex {
          align-items: center;
        }

        &-desc {
          h3 {
            margin-top: 58px;
            margin-bottom: 35px;
          }

          p {
            &:nth-child(3) {
              margin-bottom: 18px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &-img {
          margin-top: 35px;
        }
      }
    }
  }
}