<!--#include file="inc-header.html"-->

<!-- middle -->
<div class="middle" id="middle">
  <div class="ventilation">
    <div class="section-info">
      <div class="container">
        <div class="flex">
          <div class="section-info-txt">
            <h1 class="section-info-txt-title">
              Вентиляция в квартире в Минске и Гомеле
            </h1>
            <div class="section-info-list">
              <div class="section-info-item">
                <div class="section-info-check">
                  <img src="./images/checkpng.png" alt="alt">
                </div>
                <p>Управление микроклиматом в доме и отдельно по комнатам</p>
              </div>
              <div class="section-info-item">
                <div class="section-info-check">
                  <img src="./images/checkpng.png" alt="alt">
                </div>
                <p>Улучшение здоровья детей и семьи за счет постоянного обновления воздуха</p>
              </div>
              <div class="section-info-item">
                <div class="section-info-check">
                  <img src="./images/checkpng.png" alt="alt">
                </div>
                <p>Экономия на отоплении</p>
              </div>
              <div class="section-info-item">
                <div class="section-info-check">
                  <img src="./images/checkpng.png" alt="alt">
                </div>
                <p>Больше не будет аллергий</p>
              </div>
              <div class="section-info-item">
                <div class="section-info-check">
                  <img src="./images/checkpng.png" alt="alt">
                </div>
                <p>Управление влажностью избавляет от грибков и плесни</p>
              </div>
            </div>
          </div>
          <div class="section-info-img">
            <img src="./images/vent-info.png" alt="alt">
          </div>
        </div>
      </div>
      <div class="section-info-bgs-left">
        <img src="./images/bgs/bg-circle1.svg" alt="alt">
      </div>
      <div class="section-info-bgs-right">
        <!-- <img src="./images/bgs/bg-circle2.svg" alt="alt"> -->
        <picture>
          <source media="(max-width: 1024px)" srcset="./images/bgs/bg-circle2.svg">
          <img src="./images/bgs/bg-circle2.svg" alt="alt">
        </picture>
      </div>
    </div>

    <div class="section-questions bg">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-ss-12">
            <div class="section-questions-text">
              <h2>Как выбрать подрядчика по вентиляции?</h2>
            </div>
            <div class="section-questions-link">
              <a href="javascript:void(0)">Получить чек лист</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-4">
            <div class="section-questions-img">
              <img src="./images/vent-quest.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-solutions">
      <div class="container">
        <div class="section-solutions-type bg-left grey">
          <h2>Готовые решения и их стоимость</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="section-solutions-item">
                <h3>Приточная вентиляция</h3>
                <img src="./images/vent-item1.png" alt="alt">
              </div>
            </div>

            <div class="col-md-7">
              <div class="section-solutions-txt">
                <h3>Приточная вентиляция</h3>

                <p>
                  Применяется для принудительного ввода свежего воздуха когда естественной вентиляции и производительности
                  не хватает.
                  Часто ставят если в помещение уже есть стандартные средства вывода отработанного воздуха.
                </p>

                <p>
                  Система, обеспечивающая подачу свежего воздуха с улицы в помещение.
                </p>

                <div class="section-solutions-price">
                  Цена от: <span>6000 руб.</span>
                </div>

                <div class="section-solutions-btn">
                  <a href="javascript:void(0)" class="btn-blue">Рассчитать такой вариант</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-solutions-mob right">
        <img src="./images/bgs/sol-bg-mob.svg" alt="alt">
      </div>
    </div>

    <div class="section-solutions">
      <div class="container">
        <div class="section-solutions-type">
          <div class="row reverse">
            <div class="col-md-7">
              <div class="section-solutions-txt">
                <h3>Модульная приточно-вытяжная вентиляция</h3>

                <p>
                  Применяется для принудительного ввода свежего воздуха когда естественной вентиляции и производительности
                  не хватает.
                  Часто ставят если в помещение уже есть стандартные средства вывода отработанного воздуха.
                </p>

                <p>
                  Описание за отделом вентиляции/Описание за отделом вентиляции/Описание за отделом вентиляции/Описание за
                  отделом
                  вентиляции/Описание за отделом вентиляции
                </p>

                <div class="section-solutions-price">
                  Цена от: <span>5000 руб.</span>
                </div>

                <div class="section-solutions-btn">
                  <a href="javascript:void(0)" class="btn-blue">Рассчитать такой вариант</a>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="section-solutions-item">
                <h3>Модульная приточно-вытяжная вентиляция</h3>
                <img src="./images/vent-item2.png" alt="alt">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-solutions-bg">
        <img src="./images/bgs/test.svg" alt="alt">
      </div>

      <div class="section-solutions-mob left">
        <img src="./images/bgs/sol-bg-mob-left.svg" alt="alt">
      </div>
    </div>

    <div class="section-solutions">
      <div class="container">
        <div class="section-solutions-type bg-right grey">
          <div class="row">
            <div class="col-md-5">
              <div class="section-solutions-item">
                <h3>Приточно вытяжная с рекуперацией</h3>
                <img src="./images/vent-item3.png" alt="alt">
              </div>
            </div>

            <div class="col-md-7">
              <div class="section-solutions-txt">
                <h3>Приточно вытяжная с рекуперацией</h3>

                <p>
                  Вентиляция для самых расчетливых, для тех кто делает один раз и навсегда.
                </p>

                <p>
                  Энергоэффективные решения на основе рекуператоров тепла и влаги. Холодный приточный воздух подогревается
                  тёплым вытяжным
                  в специальном устройстве-рекуператоре.
                </p>

                <div class="section-solutions-price">
                  Цена от: <span>8000 руб.</span>
                </div>

                <div class="section-solutions-btn">
                  <a href="javascript:void(0)" class="btn-blue">Рассчитать такой вариант</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-solutions-mob right">
        <img src="./images/bgs/sol-bg-mob.svg" alt="alt">
      </div>
    </div>

    <div class="section-solutions">
      <div class="container">
        <div class="section-solutions-type">
          <div class="row reverse">
            <div class="col-md-7">
              <div class="section-solutions-txt">
                <h3>Вытяжная вентиляция</h3>

                <p>
                  Применяется для принудительного ввода свежего воздуха когда естественной вентиляции и производительности
                  не хватает.
                  Часто ставят если в помещение уже есть стандартные средства вывода отработанного воздуха.
                </p>

                <p>
                  Описание за отделом вентиляции/Описание за отделом вентиляции/Описание за отделом вентиляции/Описание за
                  отделом
                  вентиляции/Описание за отделом вентиляции
                </p>

                <div class="section-solutions-price">
                  Цена от: <span>6000 руб.</span>
                </div>

                <div class="section-solutions-btn">
                  <a href="javascript:void(0)" class="btn-blue">Рассчитать такой вариант</a>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="section-solutions-item">
                <h3>Вытяжная вентиляция</h3>
                <img src="./images/vent-item4.png" alt="alt">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-solutions-bg left">
        <img src="./images/bgs/bg-sol2.svg" alt="alt">
      </div>

      <div class="section-solutions-mob left">
        <img src="./images/bgs/sol-bg-mob-left.svg" alt="alt">
      </div>
    </div>

    <div class="section-solutions">
      <div class="container">
        <div class="section-solutions-type bg-left grey">
          <div class="row">
            <div class="col-md-5">
              <div class="section-solutions-item">
                <h3>Децентрализованные установки</h3>
                <img src="./images/vent-item5.png" alt="alt">
              </div>
            </div>

            <div class="col-md-7">
              <div class="section-solutions-txt">
                <h3>Децентрализованные установки</h3>

                <p>
                  Компактные устройства приточной вентиляции. Принудительно подаёт воздух с улицы в помещение, очищая его и подогревая до комфортной температуры.
                  С помощью децентрализованной установки можно обеспечить поступление свежего воздуха, не открывая окно. Это избавит от шума с улицы, появления пыли, неприятных запахов и возникновения сквозняков.
                </p>

                <p>
                  Воздух с улицы через впускное отверстие засасывается в корпус , где он проходит через систему ступенчатой фильтрации от грубой до сверхтонкой очистки, и через угольный фильтр, очищающий от запахов и газов.
                </p>

                <div class="section-solutions-price">
                  Цена от: <span>900 руб.</span>
                </div>

                <div class="section-solutions-btn">
                  <a href="javascript:void(0)" class="btn-blue">Рассчитать такой вариант</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-solutions-mob right">
        <img src="./images/bgs/sol-bg-mob.svg" alt="alt">
      </div>
    </div>

    <div class="section-gift">
      <div class="container">
        <h2>Базовый набор фильтров в подарок каждому <br> новому клиенту!</h2>

        <div class="section-gift-form">
          <form action="#" class="section-gift-validate">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="section-gift-form-cell">
                  <input type="text" name="name" id="name" placeholder="Ваше имя">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="section-gift-form-cell">
                  <input type="tel" name="tel" id="tel" placeholder="Ваш номер">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-gift-form-cell">
                  <input type="submit" name="submit" id="submit" value="Получить комплект фильтров">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        $(document).ready(function() {
            var app = new Vue({
            el: '.section-quiz',

            data: {
              step: 0,
              answer: [],
              contact: [],
              show: false,
              activeNext: true,
              done: true,

              form: [
                {
                  title: '1.Укажите площадь Вашего объекта:',
                  values: ['До 60 кв. м', 'От 60 кв. м до 100 кв. м', 'От 70 кв. м до 80кв. м', 'От 100кв. м'
                  ],
                },

                {
                  title: '2.Укажите задачу,которую нужно решить:',
                  values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
                },

                {
                  title: '3.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                  values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
                },

                {
                  title: '4.У Вас уже есть проект?',
                  values: ['Да', 'Нет, нужно сделать'],
                },

                {
                  title: '5. Когда нужно приступать к работе?',
                  values: ['Вчера', 'Сегодня', 'Завтра', 'В течение недели', 'В течение месяца', 'Пока не знаю'],
                },
              ],
            },

            methods: {
              toNextStep() {
                if (this.step <= this.form.length - 1) {
                  this.step++;
                } else {
                  this.activeNext = false
                }

                if (this.step === this.form.length) {
                  this.show = true;
                  this.done = false
                }
              },

              getData() {
                this.contact.push(this.$refs.valueName.value, this.$refs.valueTel.value);

                const dataAnswer = JSON.stringify(this.answer);
                const dataContact = JSON.stringify(this.contact);

                // send data
                // fetch("https://jsonplaceholder.typicode.com/posts", {
                //   method: "POST",
                //   body: JSON.stringify(str),
                //   headers: {
                //     "Content-type": "application/json; charset=UTF-8",
                //   },
                // })
                //   .then((response) => response.json())
                //   .then((data) => {
                //     console.log(data)
                //   })
              },

              toPrevStep() {
                if (this.step !== 0) {
                  this.step--;
                  this.show = false;
                }
              },

              getValue(val) {
                const obj = {
                  question: this.form[this.step].title,
                  answer: val,
                }

                this.answer[this.step] = obj;
              },
            },

            watch: {
              step: function(val) {
                if (val === this.form.length) {
                  setTimeout(() => {
                    jQuery('.section-quiz-validate').validate ({
                      errorElement: "span",

                      rules: {
                        name: {
                          required: true,
                          lettersonly: true,
                        },

                        tel: {
                          required: true,
                          minlength: 6,
                        },
                      },

                      messages: {
                        name: {
                          required: "Пожалуйста, введите ваше Имя",
                          lettersonly: "Ваше имя не может состоять из цифр",
                        },

                        tel: {
                          required: "Пожалуйста, введите ваш номер телефона",
                          minlength: "Минимальная длина 6 символов",
                        },
                      }
                    })

                    var tel = document.getElementById('tel-quiz');

                    if (tel) {
                      var maskOptions = {
                        mask: '+{000}(00)000-00-00'
                      };

                      var mask = IMask(tel, maskOptions);
                    }
                  }, 1)
                }
              }
            },

            computed: {
              stepData: function() {
                return this.form[this.step]
              },

              progressValue: function() {
                if (this.step >= 1) {
                  return `${Math.round((this.step / (this.form.length - 1)) * 100) + '%'} уже готово!`
                }
              },
            }
          });
        });
      });
    </script>

    <div class="section-quiz">
      <div class="container">
        <div class="section-quiz-heading">
          <h2>Рассчет стоимости</h2>
          <p>Ответьте на 5 простых вопросов и получите:</p>
        </div>

        <div class="section-quiz-mob">
          <h2>Готовые решения и их стоимость</h2>
          <p>Получите бесплатный персональный расчет стоимости работ для Вашего объекта за 5 минут:</p>
        </div>

        <div class="section-quiz-content">
          <div class="section-quiz-header">
            <div class="section-quiz-items">
              <div class="flex">
                <div class="section-quiz-item">
                  <div class="section-quiz-item-icon">
                    <img src="./images/icons/quiz1.svg" alt="alt">
                  </div>
                  <div class="section-quiz-item-subtitle">
                    Консультация инженера
                  </div>
                  <div class="section-quiz-item-slogan">
                    Простым языком расскажет о вариантах решения Вашей задачи
                  </div>
                </div>
                <div class="section-quiz-item">
                  <div class="section-quiz-item-icon">
                    <img src="./images/icons/quiz2.svg" alt="alt">
                  </div>
                  <div class="section-quiz-item-subtitle">
                    Выезд инженера
                  </div>
                  <div class="section-quiz-item-slogan">
                    Мастер приедет на место, оценит помещение, снимет замеры
                  </div>
                </div>
                <div class="section-quiz-item">
                  <div class="section-quiz-item-icon">
                    <img src="./images/icons/quiz3.svg" alt="alt">
                  </div>
                  <div class="section-quiz-item-subtitle">
                    Эскизный чертеж
                  </div>
                  <div class="section-quiz-item-slogan">
                    До начала работ мы предоставим Вам 2 эскизных чертежа
                  </div>
                </div>
                <div class="section-quiz-item">
                  <div class="section-quiz-item-icon">
                    <img src="./images/icons/quiz4.svg" alt="alt">
                  </div>
                  <div class="section-quiz-item-subtitle">
                    Понятный расчет
                  </div>
                  <div class="section-quiz-item-slogan">
                    Рассчитаем стоимость материалов, оборудования и работ
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-quiz-body">
            <div class="section-quiz-body-question"  v-for="(item, index) in form">
              <div class="section-quiz-body-txt" v-if="index === step">
                {{ item.title }}
              </div>
            </div>

            <div class="section-quiz-progress-bar"  v-if="done">
              <div class="section-quiz-progress-value">
                {{ progressValue }}
              </div>

              <div class="section-quiz-progress">
                <div class="section-quiz-progress-fill" :style="{width:(Math.round((step / (form.length - 1)) * 100)) + '%'}">
                </div>
              </div>
            </div>

            <div class="section-quiz-end" v-bind:class="{ active: show }">
              <div class="section-quiz-end-title">
                Отлично! Вы ответили на все вопросы! <br>
                А мы уже расчитываем стоимость систем для Вашего помещения!
              </div>
              <div class="section-quiz-end-subtitle">
                Оставьте Ваши контакты, чтобы мы смогли выслать Вам расчет на Viber
              </div>
              <div class="section-quiz-form">
                <form action="#" class="section-quiz-validate">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                      <div class="section-quiz-form-cell">
                        <input  type="text" name="name" id="name" placeholder="Ваше имя" ref="valueName">
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                      <div class="section-quiz-form-cell">
                        <input type="tel" name="tel" id="tel-quiz" placeholder="Ваш номер" ref="valueTel">
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="section-quiz-form-cell">
                        <input type="submit" name="submit" id="submit" value="Получить рассчет стоимости" @click.prevent="getData">
                      </div>
                    </div>
                  </div>
                </Form>
              </div>
            </div>

            <div class="section-quiz-step" v-for="(item, index) in form">
              <div class="section-quiz-body-answers" v-if="index === step">
                <div class="row">
                  <div class="col-sm-4" v-for="(value, index) in item.values">
                    <div class="section-quiz-body-answer">
                      <input type="radio" class="custom-checkbox" :id="index" name="answer" :value="value"
                          @change="getValue(value)">
                      <label :for="index">{{ value }}</label>
                      <div class="section-quiz-input"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-quiz-controller" v-if="done">
              <div class="row">
                <div class="col-sm-4 col-ss-12">
                  <button class="section-quiz-btn prev" @click.prevent="toPrevStep">
                    <svg>
                      <use xlink:href="./svg/svg/symbols.svg#back"></use>
                    </svg>
                    Вернуться назад
                  </button>
                </div>
                <div class="col-sm-4 col-ss-12">
                  <button class="section-quiz-btn skip" @click.prevent="toNextStep">
                    Пропустить вопрос
                    <svg>
                      <use xlink:href="./svg/svg/symbols.svg#skip"></use>
                    </svg>
                  </button>
                </div>
                <div class="col-sm-4 col-ss-12">
                  <button class="section-quiz-btn next" @click.prevent="toNextStep" v-bind:class="{ active: activeNext }">
                    Следующий вопрос
                    <svg>
                      <use xlink:href="./svg/svg/symbols.svg#next"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-quiz-bg">
        <img src="./images/bgs/bg-quiz.svg" alt="">
      </div>
    </div>

    <div class="section-work">
      <div class="section-work-caption">
        <div class="container">
          Как мы работаем:
        </div>
      </div>

      <div class="section-work-cards">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-xs-6 col-us-6">
              <div class="section-work-item">
                <div class="section-work-title">
                  01
                </div>
                <div class="section-work-subtitle">
                  Проектирование:
                </div>
                <div class="section-work-list">
                  <ul>
                    <li>Технико-экономическое обоснование</li>
                    <li>Техническое задание</li>
                    <li>Рабочая документация</li>
                    <li>Тех. сопровождение в экспертизе</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-us-6">
              <div class="section-work-item">
                <div class="section-work-title">
                  02
                </div>
                <div class="section-work-subtitle">
                  Поставка:
                </div>
                <div class="section-work-list">
                  <ul>
                    <li>Более 20 поставщиков</li>
                    <li>Более 5000 позиций климатической техники</li>
                    <li>Подбор оборудования исходя из бюджета и типа объекта</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-us-6">
              <div class="section-work-item">
                <div class="section-work-title">
                  03
                </div>
                <div class="section-work-subtitle">
                  Монтаж:
                </div>
                <div class="section-work-list">
                  <ul>
                    <li>Первичный анализ проектной документации</li>
                    <li>Оптимизируем проект под Ваш бюджет</li>
                    <li>Выполним монтаж по нормам 2022 года</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-6 col-us-6">
              <div class="section-work-item">
                <div class="section-work-title">
                  04
                </div>
                <div class="section-work-subtitle">
                  Обслуживание:
                </div>
                <div class="section-work-list">
                  <ul>
                    <li>Увеличение срока службы оборудования</li>
                    <li>Поддержание систем в рабочем состоянии</li>
                    <li>Предотвращение поломок</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="section-work-btn">
            <a href="javascript:void(0)" class="btn-blue">Получить консультацию</a>
          </div>
        </div>
      </div>

      <div class="section-work-bg">
        <img src="./images/bgs/work-bg.svg" alt="">
      </div>
    </div>

    <div class="section-possibility">
      <div class="container">
        <div class="section-choice-sidebar">
          <div class="section-choice-sidebar-txt">
            Наши преимущества
          </div>
        </div>
        <div class="flex">
          <div class="section-possibility-carts">
            <div class="section-possibility-cart">
              <div class="section-possibility-block">
                <div class="section-possibility-item">
                  <div class="section-possibility-txt">
                    <div class="section-possibility-txt-icon">
                      <img src="./images/icons/service.svg" alt="alt">
                    </div>
                    <div class="section-possibility-txt-subtitle">
                      Сервис и гарантия
                    </div>
                    <div class="section-possibility-txt-slogan">
                      Сервисное и гарантийное обслуживание в любой точке беларуси в кратчайшие сроки
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-possibility-cart">
              <div class="section-possibility-block">
                <div class="section-possibility-item">
                  <div class="section-possibility-txt">
                    <div class="section-possibility-txt-icon">
                      <img src="./images/icons/delivery.svg" alt="alt">
                    </div>
                    <div class="section-possibility-txt-subtitle">
                      Быстрая поставка
                    </div>
                    <div class="section-possibility-txt-slogan">
                      Кратчайшие сроки поставки оборудования так как мы прямой поставщик
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-possibility-cart">
              <div class="section-possibility-block">
                <div class="section-possibility-item">
                  <div class="section-possibility-txt">
                    <div class="section-possibility-txt-icon">
                      <img src="./images/icons/quality.svg" alt="alt">
                    </div>
                    <div class="section-possibility-txt-subtitle">
                      Контроль качества
                    </div>
                    <div class="section-possibility-txt-slogan">
                      Контроль качества штатным прорабом в процессе и после сдачи проекта
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-possibility-cart">
              <div class="section-possibility-block">
                <div class="section-possibility-item">
                  <div class="section-possibility-txt">
                    <div class="section-possibility-txt-icon">
                      <img src="./images/icons/money.svg" alt="alt">
                    </div>
                    <div class="section-possibility-txt-subtitle">
                      Любой бюджет
                    </div>
                    <div class="section-possibility-txt-slogan">
                      Мы можем предложить решения под любой бюджет, так как сотрудничаем с поставщиками оборудования.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-object">
      <div class="section-object-items">
        <div class="container">
          <div class="section-object-items-title" id="section-object-items">
            Выполненные объекты
          </div>
          <div class="section-object-items-subtitle">
            Мы успешно реализовали более 500 объктов по всей Беларуси!
          </div>
          <div class="section-object-carts">
            <div class="row">
              <div class="col-md-4 col-xs-4 col-ss-6">
                <a href="javascript:void(0)" class="section-items-link-cart">
                  <div class="section-object-items-cart">
                    <div class="section-object-items-img">
                      <img src="./images/cart.png" alt="alt">
                    </div>
                    <div class="section-object-items-txt">
                      <div class="section-object-items-headline">
                        Вентиляция в бассейне, ”Ясная поляна”
                      </div>
                      <div class="section-object-items-desc">
                        Для вентиляции бассейна также была использована установка фирмы TURKOV
                        производительностью по воздуху 700 куб. метров в
                        час.
                      </div>
                    </div>
                    <div class="section-object-items-btn">
                      <img src="./images/link.png" alt="alt">
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-xs-4 col-ss-6">
                <a href="javascript:void(0)" class="section-items-link-cart">
                  <div class="section-object-items-cart">
                    <div class="section-object-items-img">
                      <img src="./images/cart2.png" alt="alt">
                    </div>
                    <div class="section-object-items-txt">
                      <div class="section-object-items-headline">
                        Дом в деревне Горки, Слуцкий район
                      </div>
                      <div class="section-object-items-desc">
                        Основная разводка инженерных систем была произведена на цокольном этаже дома, что позволило
                        скрыть
                        большую часть
                        коммуникаций.
                      </div>
                    </div>
                    <div class="section-object-items-btn">
                      <img src="./images/link.png" alt="alt">
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4 col-xs-4 col-none">
                <a href="javascript:void(0)" class="section-items-link-cart">
                  <div class="section-object-items-cart">
                    <div class="section-object-items-img">
                      <img src="./images/cart3.png" alt="alt">
                    </div>
                    <div class="section-object-items-txt">
                      <div class="section-object-items-headline">
                        Коттеджный поселок “Ясная поляна”
                      </div>
                      <div class="section-object-items-desc">
                        Для вентиляции жилых помещений нами была использована установкафирмы TURKOV производительностью
                        по
                        воздуху 1000 куб.
                      </div>
                    </div>
                    <div class="section-object-items-btn">
                      <img src="./images/link.png" alt="alt">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="section-object-items-carts">
          </div>

          <div class="section-object-items-link">
            <a href="javascript:void(0)" class="section-object-items-open">Посмотреть все объекты</a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-feedbacks">
      <div class="container">
        <h2>Наши отзывы</h2>

        <div class="swiper feedback">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="section-feedback">
                <div class="flex">
                  <div class="section-feedback-img">
                    <img src="./images/feedback1.png" alt="">
                  </div>

                  <div class="section-feedback-text">
                    <p>
                      “Заказывали в Климат24 разработку сплит-системы для квартиры в 120 квадратов.
                      Отдельная проблема для нас была в детской комнате, где совершенно другой температурный режим.
                      Проектировщик понял нас во всем, учел все мелочи и предложил мультисплит с удобной регулировкой по
                      комнатам.
                      Очень оперативно подобрали систему, доставили и установили за рабочий день.
                      С учетом продленной гарантии, сервиса и неплохой скидки все получается максимально выгодно.
                      Рекомендуем!“
                    </p>

                    <p>Валентина, г. Минск</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="section-feedback">
                <div class="flex">
                  <div class="section-feedback-img">
                    <img src="./images/feedback2.png" alt="">
                  </div>

                  <div class="section-feedback-text">
                    <p>
                      “Искали компанию для создания климатической системы в ресторан с залом 300 кв.м плюс горячая зона,
                      холодный цех
                      и
                      несколько вспомогательных помещений.
                      Особенность проекта — здание по сути пристроено к более старому. Заинтересовало предложение
                      КЛИМАТ24 развести
                      вентиляцию
                      и запустить канальный кондиционер, чтобы не перебивать работу вытяжки в кухне. Проект разработан
                      грамотно.
                      Основной зал оказался под давлением, запахи не идут, кухонная вытяжка плюс кондиционирование
                      снижают температуру
                      в
                      горячем цеху.
                      Рациональный подход, грамотно и вполне приемлемо по цене.”
                    </p>

                    <p>Алексей, г. Брест</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="section-feedback">
                <div class="flex">
                  <div class="section-feedback-img">
                    <img src="./images/feedback3.png" alt="">
                  </div>

                  <div class="section-feedback-text">
                    <p>
                      “При выборе здания под офисный центр столкнулась с проблемой старой вытяжки.
                      Принудительная вентиляция работала отвратительно и гремела. Выделила несколько подрядчиков и
                      выбрала Климат24 по
                      тому,
                      как они проработали предложение.
                      Очень рациональное решение с мультисплит-системой и восстановлением части старой вентиляции.
                      В итоге получилось вполне логично по притоку и вытяжке, обоснованно по цене и быстро. Объем работ
                      был большой,
                      спасло
                      планирование.
                      Готова рекомендовать эту фирму.“
                    </p>

                    <p>Анастасия, г. Минск</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        </div>

        <div class="section-feedback-content">
          <div class="section-feedback">
            <div class="flex">
              <div class="section-feedback-img">
                <img src="./images/feedback1.png" alt="">
              </div>

              <div class="section-feedback-text">
                <p>
                  “Заказывали в Климат24 разработку сплит-системы для квартиры в 120 квадратов.
                  Отдельная проблема для нас была в детской комнате, где совершенно другой температурный режим.
                  Проектировщик понял нас во всем, учел все мелочи и предложил мультисплит с удобной регулировкой по
                  комнатам.
                  Очень оперативно подобрали систему, доставили и установили за рабочий день.
                  С учетом продленной гарантии, сервиса и неплохой скидки все получается максимально выгодно.
                  Рекомендуем!“
                </p>

                <p>Валентина, г. Минск</p>
              </div>
            </div>
          </div>

          <div class="section-feedback">
            <div class="flex">
              <div class="section-feedback-img">
                <img src="./images/feedback2.png" alt="">
              </div>

              <div class="section-feedback-text">
                <p>
                  “Искали компанию для создания климатической системы в ресторан с залом 300 кв.м плюс горячая зона,
                  холодный цех и
                  несколько вспомогательных помещений.
                  Особенность проекта — здание по сути пристроено к более старому. Заинтересовало предложение КЛИМАТ24
                  развести вентиляцию
                  и запустить канальный кондиционер, чтобы не перебивать работу вытяжки в кухне. Проект разработан
                  грамотно.
                  Основной зал оказался под давлением, запахи не идут, кухонная вытяжка плюс кондиционирование снижают
                  температуру в
                  горячем цеху.
                  Рациональный подход, грамотно и вполне приемлемо по цене.”
                </p>

                <p>Алексей, г. Брест</p>
              </div>
            </div>
          </div>
          <div class="section-feedback">
            <div class="flex">
              <div class="section-feedback-img">
                <img src="./images/feedback3.png" alt="">
              </div>

              <div class="section-feedback-text">
                <p>
                  “При выборе здания под офисный центр столкнулась с проблемой старой вытяжки.
                  Принудительная вентиляция работала отвратительно и гремела. Выделила несколько подрядчиков и выбрала
                  Климат24 по тому,
                  как они проработали предложение.
                  Очень рациональное решение с мультисплит-системой и восстановлением части старой вентиляции.
                  В итоге получилось вполне логично по притоку и вытяжке, обоснованно по цене и быстро. Объем работ был
                  большой, спасло
                  планирование.
                  Готова рекомендовать эту фирму.“
                </p>

                <p>Анастасия, г. Минск</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-feedbacks-bg">
        <img src="./images/bgs/reviews-bg.svg" alt="">
      </div>
    </div>

    <div class="section-box-text up">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="section-box-text-desc">
              <h3>
                Система вентиляции в квартире: зачем нужна, виды, цена, где заказать в Минске и Гомеле
              </h3>

              <p>
                Вентиляция в квартирах Минска, построенных более двадцати лет назад, была естественной - воздух просто
                перемещался по
                выделенным для этой цели каналам. Сейчас все изменилось: на окнах стеклопакеты, которые на 100%
                блокируют воздушный
                поток; экология крупного города ухудшилась. Поэтому без качественной системы вентиляции трудно
                представить комфортную и
                полезную для организма жизнь в квартире.
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="section-box-text-img">
              <h3>
                Система вентиляции в квартире: зачем нужна, виды, цена, где заказать в Минске и Гомеле
              </h3>
              <img src="./images/type.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-list">
      <div class="container">
        <div class="section-list-text-desc">
          <h3>
            Система вентиляции в квартире: разновидности
          </h3>

          <p>
            Принудительная вентиляция в помещении устанавливается, когда поступление и вывод воздуха происходит не в
            полной мере.
            Такое название она имеет из-за того, что используются вентиляторы, которые за счет своих характеристик могут
            увеличивать
            движение воздушных потоков. Вентиляция для квартиры может быть разной, рассмотрим все варианты подробнее.
          </p>

          <p>
            <span>Приточная система</span> - разновидность, которая создает приток воздуха с улицы внутрь помещения. Его
            поступление
            обеспечивается за счет разницы давлений. Оборудование может быть простым, а также более сложным - с большим
            количеством
            функций, например, осушением, увлажнением, очищением воздуха.
          </p>

          <p>
            <span>Вытяжная вентиляция</span> - разновидность, которая создает приток воздуха с улицы внутрь помещения.
            Его
            поступление
            обеспечивается за счет разницы давлений. Оборудование может быть простым, а также более сложным - с большим
            количеством
            функций, например, осушением, увлажнением, очищением воздуха.
          </p>

          <p>
            <span>Приточно-вытяжная</span> - усовершенствованный вид двух предыдущих систем. Она одновременно создает
            приток и удаляет отработанный воздух.
            Сочетает в себе преимущества приточной и вытяжной систем.
          </p>
        </div>
      </div>

      <div class="section-list-bg">
        <img src="./images/bgs/list-bg.svg" alt="">
      </div>
    </div>

    <div class="section-box-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="section-box-text-img">
              <h3>
                Вентиляция в квартире: цена
              </h3>
              <img src="./images/price.png" alt="alt">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="section-box-text-desc">
              <h3>
                Вентиляция в квартире: цена
              </h3>

              <p>
                На цену оборудования для вентиляции влияет ряд факторов: вид, мощность, производитель, наличие или
                отсутствие
                дополнительных функций. К самым дорогим относятся приточно-вытяжные системы, потому что они самые
                продвинутые. Несмотря
                на стоимость, многие владельцы квартир в Минске предпочитают именно их по нескольким причинам:
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-content">
      <div class="section-content-list">
        <div class="container">
          <div class="section-content-list-desc">
            <ul>
              <li>комбинированная вентиляция помогает добиться наивысшего уровня комфорта в помещении, так как создает
                лучший
                воздухообмен;</li>
              <li>при необходимости системы могут очищать, нагревать воздух;</li>
              <li>позволяют дополнительно увлажнять воздух;</li>
              <li>приточно-вытяжная вентиляция не дает запахам, пару и влаге распространяться по комнатам</li>
            </ul>

            <p>Установка с рекуперацией тепла будет стоить дороже, однако она решит проблему подогрева воздуха зимой.
              Сколько денег
              отдавать за вентиляцию в квартире, каждый решает сам. Есть хорошие бюджетные модели, которые прекрасно
              справляются со
              своими функциями, а есть более дорогие - с расширенным функционалом. При этом важно помнить, что подбирать
              устройство
              нужно не только по цене, а еще и по площади помещения, опциям и другим параметрам.</p>
          </div>
        </div>
      </div>

      <div class="section-content-text">
        <div class="container">
          <div class="flex">
            <div class="section-content-text-desc">
              <h3>
                Заказать систему вентиляции в квартиру с доставкой и монтажом
              </h3>

              <p>
                Если вы хотите жить здорово, переживаете за самочувствие домочадцев, хотите сделать квартиру приятным
                местом для отдыха,
                бытовых дел, пора выбрать систему вентиляции. Справиться с этой задачей помогут специалисты.
              </p>

              <p>Преимущества нашей компании:</p>
              <ul>
                <li>бесплатная консультация инженера, выезд на участок;</li>
                <li>помощь в выборе оборудования от 20 ведущих брендов;</li>
                <li>цены ниже рыночных на 20%;</li>
                <li>разработка проекта, доставка системы на участок, профессиональный монтаж.</li>
              </ul>
              <p>Закажите бесплатный расчет стоимости прямо сейчас!</p>
            </div>

            <div class="section-content-text-img">
              <h3>
                Заказать систему вентиляции в квартиру с доставкой и монтажом
              </h3>
              <img src="./images/vent.png" alt="alt">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--#include file="inc-footer2.html"-->