.popup {
  &-contact {
    padding: 15px 32px 0 32px;
    position: relative;
    max-width: 1035px;
    width: 100%;
    background-color: #fff;
    margin: 20px auto;

    @media(max-width: 1024px) {
      padding: 15px 0;
    }

    @media(max-width: 786px) {
      padding: 0;
    }

    .mfp-close {
      font-size: 0;

      &::after {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        height: 28px;
        width: 25px;
        content: "";
        background: url(../images/close-popup.png) no-repeat right;
      }
    }

    .flex {
      align-items: center;

      @media(max-width: 1024px) {
        justify-content: center;
      }
    }

    &-img {
      flex: 0 0 420px;
      max-width: 420px;
      line-height: 0;

      @media(max-width: 1024px) {
        display: none;
      }
    }

    &-form {
      flex: 0 0 calc(100% - 420px);
      max-width: calc(100% - 420px);

      @media(max-width: 1024px) {
        padding: 38px 14px 46px 14px;
        max-width: 100%;
        flex: 0 0 100%;
      }
    }

    &-headline {
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;

      @media(max-width: 768px) {
        font-size: 18px;
        margin-bottom: 23px;
      }
    }

    &-subtitle {
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 42px;
      text-align: center;

      @media(max-width: 768px) {
        margin-bottom: 38px;
      }
    }

    &-form-cell {
      text-align: center;
      margin-bottom: 28px;

      @media(max-width: 1024px) {
        margin-bottom: 20px;
      }

      input {
        display: block;
        margin: 0px auto;
        max-width: 355px;
        width: 100%;
        height: 54px;
        outline: none;
        text-align: center;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        background-color: transparent;
        border: 1px solid #908F8F;
        transition: 0.2s ease-out;

        @media(max-width: 768px) {
          height: 36px;
        }

        &::placeholder {
          color: #C4C4C4;
        }

        &:hover {
          border-color: #0D19A3;
        }

        &:focus {
          border-color: #0D19A3;
        }

        &:focus::-webkit-input-placeholder {
          color: transparent;
        }

        @media(max-width: 1024px) {
          font-size: 15px;
          max-width: 100%;
        }
      }

      input[type="submit"] {
        background-color: #0D19A3;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        border: 2px solid #0D19A3;
        // max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 24px;

        &:hover {
          background: transparent;
          color: #0D19A3;
          border: 2px solid #0D19A3;
        }

        @media(max-width: 1024px) {
          font-size: 15px;
          max-width: 100%;
          margin-bottom: 0;
        }
      }
    }

    &-conf {
      font-weight: 400;
      font-size: 10px;

      img {
        position: relative;
        top: 4px;
      }

      @media(max-width: 1024px) {
        display: none;
      }
    }
  }
}