.popup-qualification {
  .swiper.qualification {
    max-width: 1380px;
  }
  .swiper-slide {
    text-align: center;

    @media(max-width: 1024px) {
      margin: auto;

      img {
        max-width: 300px;
      }
    }
  }

  .swiper-button-next,
    .swiper-button-prev {
      border: 1px solid #fff;
      width: 45px;
      height: 45px;

      &:hover {
        opacity: .35;
      }

      @media(max-width: 768px) {
        width: 35px;
        height: 35px;

        img {
          width: 10px;
          height: auto;
        }
      }

      @media(max-width: 400px) {
        display: none;
      }
    }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    @media(max-width: 576px) {
      right: 0;
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    @media(max-width: 576px) {
      left: 0;
    }
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "";
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "";
  }

  .mfp-close {
    font-size: 0;

    &::after {
      display: inline-block;
      position: absolute;
      top: 22px;
      right: 24px;
      height: 43px;
      width: 43px;
      content: "";
      background: url(../images/close-popup-white.svg) no-repeat right;

      @media(max-width: 1024px) {
        top: -40px;
        right: 0;
        height: 20px;
      }
    }
  }
}