<!--#include file="inc-header.html"-->

<div class="middle" id="middle">
  <div class="section-info industrial">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-info-txt vent-house">
            <h1 class="section-info-txt-title">Промышленные системы вентиляции “Под ключ” в Минске и Гомеле</h1>
            <p class="section-info-txt-subtitle">Получите бесплатный подбор оборудования по Вашему техзаданию!</strong></p>
            <a class="section-info-txt-btn industrial" href="javascript:void(0)" data-href="./popups/price.html">
              Подобрать оборудование
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-info-img industrial">
            <img src="./images/industrial-info.png" alt="alt">
          </div>
        </div>
      </div>
    </div>
    <div class="section-info-bgs-left">
      <img src="./images/bgs/bg-circle1.svg" alt="alt">
    </div>
    <div class="section-info-bgs-right">
      <!-- <img src="./images/bgs/bg-circle2.svg" alt="alt"> -->
      <picture>
        <source media="(max-width: 1024px)" srcset="./images/bgs/bg-circle2.svg">
        <img src="./images/bgs/bg-circle2.svg" alt="alt">
      </picture>
    </div>
  </div>

  <div class="section-equipment">
    <div class="container">
      <div class="flex">
        <div class="section-serv-text" id="section-serv-text">
          <h2>
            Оборудование TURKOV
          </h2>
          <p>
            Работаем с ведущим российским производителем вентиляционного оборудования!
          </p>
          <p>
            В оборудовании TURKOV учтены все особенности сурового российского климата: оно стабильно работает как в
            центральном
            регионе, Сибири, так и на крайнем севере, где температура опускается ниже -50 градусов по Цельсию.
          </p>
          <p>
            Все комплектующие для нашего оборудования мы производим самостоятельно. От электроники, датчиков и программного
            обеспечения, до рекуператоров, корпусов и других элементов установок. В основе контроллера по управлению
            оборудованием
            был взят контроллер, который участвовал в научных экспериментах МГУ им. Ломоносова на космической станции «МИР».
            Мы
            первая компания в России, которая стала производить энтальпийные рекуператоры.
          </p>
        </div>
        <div class="section-serv-obgImg">
          <img src="./images/objTurkov.png" alt="atl">
        </div>
      </div>
    </div>
  </div>

  <div class="section-choice">
    <div class="container">
      <div class="flex">
        <div class="section-choice-sidebar">
          <div class="section-choice-sidebar-txt industrial">
            Почему TURKOV?
          </div>
        </div>
        <div class="section-choice-carts">
          <div class="section-choice-cart">
            <div class="section-choice-block">
              <div class="section-choice-item">
                <div class="section-choice-txt">
                  <div class="section-choice-txt-img">
                    <img src="./images/choice.svg" alt="alt">
                  </div>
                  <div class="section-choice-txt-subtitle">
                    Закроет все задачи
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-choice-cart">
            <div class="section-choice-block">
              <div class="section-choice-item">
                <div class="section-choice-txt">
                  <div class="section-choice-txt-img">
                    <img src="./images/choice2.svg" alt="alt">
                  </div>
                  <div class="section-choice-txt-subtitle">
                    Возможность автоматизации
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-choice-cart">
            <div class="section-choice-block">
              <div class="section-choice-item">
                <div class="section-choice-txt">
                  <div class="section-choice-txt-img">
                    <img src="./images/choice3.svg" alt="alt">
                  </div>
                  <div class="section-choice-txt-subtitle">
                    Российское производство
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-complexity">
    <div class="container">
      <div class="section-complexity-title">
        Работаем с объектами любой сложности
      </div>

      <div class="swiper complexity">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="./images/complexity-item1.png" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Заводы
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="./images/complexity-item2.jpg" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Фабрики
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="./images/complexity-item3.jpg" alt="alt">
              </div>

              <div class="section-complexity-caption">
                ТЭЦ
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="./images/complexity-item4.jpg" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Цеха
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="https://via.placeholder.com/258x195/0000FF/808080" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Слайд 5
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="https://via.placeholder.com/258x195/FF0000/FFFFFF" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Слайд 6
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="https://via.placeholder.com/258x195/FFFF00/000000" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Слайд 7
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-complexity-item">
              <div class="section-complexity-img">
                <img src="https://via.placeholder.com/258x195/000000/FFFFFF" alt="alt">
              </div>

              <div class="section-complexity-caption">
                Слайд 8
              </div>
            </div>
          </div>
        </div>

        <div class="section-complexity-btn">
          <div class="flex">
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev complexity-button-prev">
              <img src="./images/arrow-prev.svg" alt="alt">
            </div>
            <div class="swiper-button-next complexity-button-next">
              <img src="./images/arrow-next.svg" alt="alt">
            </div>
          </div>
        </div>
        </div>
    </div>

    <div class="section-complexity-bg">
      <img src="./images/bgs/industrial-1.svg" alt="alt">
    </div>
    <div class="section-complexity-bg-mob">
      <img src="./images/bgs/industrial-img1-mob.png" alt="alt">
    </div>
  </div>

  <div class="section-work industrial">
    <div class="container">
      <div class="section-work-caption industrial">
        Решите задачу по вентиляции за 1 раз в “Климат24.бел”
      </div>

      <div class="section-work-cards industrial">
        <div class="row">
          <div class="col-md-4 col-xs-6 col-ss-6">
            <div class="section-work-item industrial">
              <div class="section-work-title industrial">
                01
              </div>
              <div class="section-work-subtitle industrial">
                Подбор оборудования
              </div>
              <div class="section-work-desc industrial">
                Подбор оптимального варианта комплектации оборудования под ваши потребности и цели
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 col-ss-6">
            <div class="section-work-item industrial">
              <div class="section-work-title industrial">
                02
              </div>
              <div class="section-work-subtitle industrial">
                Эскизный чертеж
              </div>
              <div class="section-work-desc industrial">
                Разработка эскизов и чертежей в специализированных программах (AutoCadbArchiCad) c визуализацией
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 col-ss-6">
            <div class="section-work-item industrial">
              <div class="section-work-title industrial">
                03
              </div>
              <div class="section-work-subtitle industrial">
                Доставка
              </div>
              <div class="section-work-desc industrial">
                Поставка оборудования и материалов до объекта по всей Беларуси
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 col-ss-6">
            <div class="section-work-item industrial">
              <div class="section-work-title industrial">
                04
              </div>
              <div class="section-work-subtitle industrial">
                Монтаж
              </div>
              <div class="section-work-desc industrial">
                Монтаж системы опытными атестованными монтажниками
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 col-ss-6">
            <div class="section-work-item industrial">
              <div class="section-work-title industrial">
                05
              </div>
              <div class="section-work-subtitle industrial">
                Испытания
              </div>
              <div class="section-work-desc industrial">
                Испытание системы в различных режимах и откладка всего оборудования
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 col-ss-6">
            <div class="section-work-item industrial">
              <div class="section-work-title industrial">
                06
              </div>
              <div class="section-work-subtitle industrial">
                Гарантия
              </div>
              <div class="section-work-desc industrial">
                Гарантийное и постгарантийное техническое и сервисное обслуживание
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="section-work-bg">
      <img src="./images/bgs/work-bg.svg" alt="alt">
    </div>
    <div class="section-work-bg-mob">
      <img src="./images/bgs/industrial-img2-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-questions vent-house industrial">
    <div class="container">
      <div class="section-questions-header">
        <div class="row">
          <div class="col-md-7">
            <div class="section-questions-txt industrial">
              <div class="section-questions-title vent-house" id="section-questions-title">
                У Вас уже есть готовый проект вентиляции?
              </div>

              <div class="section-questions-subtitle industrial">
                Отправьте проект нам! Наш главный инженер оценит проект, перезвонит Вам в течение часа и озвучит примерную стоимость
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="section-questions-img">
              <img src="./images/section-nd.png" alt="alt">
            </div>
          </div>
        </div>
      </div>

      <div class="section-questions-form">
        <form action="#" class="section-questions-validate" novalidate="novalidate">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="section-questions-form-cell industrial">
                <input type="text" name="name" id="name" placeholder="Ваше имя">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="section-questions-form-cell industrial">
                <input type="tel" name="tel" id="tel" placeholder="Ваш номер">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="section-questions-form-cell industrial">
                <input type="submit" name="submit" id="submit" value="Узнать стоимость">
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div class="section-qualification">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="section-qualification-title">
            Имеем и аттестат соответствия 4 категории и свидетельство о техкомпетентности
          </div>

          <div class="section-qualification-subtitle">
            А это значит,что вы гарантировано получите:
          </div>

          <div class="section-qualification-list">
            <div class="section-qualification-item">
              <div class="section-qualification-check">
                <img src="./images/check.svg" alt="alt">
              </div>
              <p>Надежное оборудование</p>
            </div>
            <div class="section-qualification-item">
              <div class="section-qualification-check">
                <img src="./images/check.svg" alt="alt">
              </div>
              <p>Качественные расходники</p>
            </div>
            <div class="section-qualification-item">
              <div class="section-qualification-check">
                <img src="./images/check.svg" alt="alt">
              </div>
              <p>Профессиональный монтаж</p>
            </div>
            <div class="section-qualification-item">
              <div class="section-qualification-check">
                <img src="./images/check.svg" alt="alt">
              </div>
              <p>Квалифицированных специалистов с опытом</p>
            </div>
          </div>

          <a class="btn-blue mfp-link" href="javascript:void(0)" data-href="./popups/qualification.html">Смотреть аттестаты</a>
        </div>
        <div class="col-md-5 col-none">
          <div class="section-qualification-img">
            <img src="./images/qualification.png" alt="alt">
          </div>
        </div>
      </div>
    </div>

    <div class="section-qualification-bg">
      <img src="./images/bgs/industrial-2.svg" alt="alt">
    </div>
    <div class="section-qualification-bg-mob">
      <img src="./images/bgs/industrial-img3-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-possibility vent-house">
    <div class="container">
      <div class="section-choice-sidebar vent-building industrial">
        <div class="section-choice-sidebar-txt">
          Наши преимущества
        </div>
      </div>
      <div class="flex">
        <div class="section-possibility-carts">
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/service.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Сервис и гарантия
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Сервисное и гарантийное обслуживание в любой точке беларуси в кратчайшие сроки
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/delivery.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Быстрая поставка
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Кратчайшие сроки поставки оборудования так как мы прямой поставщик
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/quality.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Контроль качества
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Контроль качества штатным прорабом в процессе и после сдачи проекта
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/money.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Любой бюджет
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Мы можем предложить решения под любой бюджет, так как сотрудничаем с поставщиками оборудования.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      $(document).ready(function () {
        var app = new Vue({
          el: '.section-quiz',

          data: {
            step: 0,
            answer: [],
            contact: [],
            show: false,
            activeNext: true,
            done: true,

            form: [
              {
                title: '1.Укажите площадь Вашего объекта:',
                values: ['До 1000 кв. м', 'От 1000 кв. м до 3000 кв. м', 'От 3000 кв. м до 10000 кв. м ', 'От 10000 кв. м'
                ],
              },

              {
                title: '2.Укажите задачу,которую нужно решить:',
                values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
              },

              {
                title: '3.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
              },

              {
                title: '4.У Вас уже есть проект?',
                values: ['Да', 'Нет, нужно сделать'],
              },

              {
                title: '5. Когда нужно приступать к работе?',
                values: ['Вчера', 'Сегодня', 'Завтра', 'В течение недели', 'В течение месяца', 'Пока не знаю'],
              },
            ],
          },

          methods: {
            toNextStep() {
              if (this.step <= this.form.length - 1) {
                this.step++;
              } else {
                this.activeNext = false
              }

              if (this.step === this.form.length) {
                this.show = true;
                this.done = false
              }
            },

            getData() {
              this.contact.push(this.$refs.valueName.value, this.$refs.valueTel.value);

              const dataAnswer = JSON.stringify(this.answer);
              const dataContact = JSON.stringify(this.contact);

              // send data
              // fetch("https://jsonplaceholder.typicode.com/posts", {
              //   method: "POST",
              //   body: JSON.stringify(str),
              //   headers: {
              //     "Content-type": "application/json; charset=UTF-8",
              //   },
              // })
              //   .then((response) => response.json())
              //   .then((data) => {
              //     console.log(data)
              //   })
            },

            toPrevStep() {
              if (this.step !== 0) {
                this.step--;
                this.show = false;
              }
            },

            getValue(val) {
              const obj = {
                question: this.form[this.step].title,
                answer: val,
              }

              this.answer[this.step] = obj;
            },
          },

          watch: {
            step: function (val) {
              if (val === this.form.length) {
                setTimeout(() => {
                  jQuery('.section-quiz-validate').validate({
                    errorElement: "span",

                    rules: {
                      name: {
                        required: true,
                        lettersonly: true,
                      },

                      tel: {
                        required: true,
                        minlength: 6,
                      },
                    },

                    messages: {
                      name: {
                        required: "Пожалуйста, введите ваше Имя",
                        lettersonly: "Ваше имя не может состоять из цифр",
                      },

                      tel: {
                        required: "Пожалуйста, введите ваш номер телефона",
                        minlength: "Минимальная длина 6 символов",
                      },
                    }
                  })

                  var tel = document.getElementById('tel-quiz');

                  if (tel) {
                    var maskOptions = {
                      mask: '+{000}(00)000-00-00'
                    };

                    var mask = IMask(tel, maskOptions);
                  }
                }, 1)
              }
            }
          },

          computed: {
            stepData: function () {
              return this.form[this.step]
            },

            progressValue: function () {
              if (this.step >= 1) {
                return `${Math.round((this.step / (this.form.length - 1)) * 100) + '%'} уже готово!`
              }
            },
          }
        });
      });
    });
  </script>

  <div class="section-quiz vent-house industrial">
    <div class="container">
      <div class="section-quiz-heading">
        <h2>Рассчет стоимости</h2>
        <p>Ответьте на 5 простых вопросов и получите:</p>
      </div>

      <div class="section-quiz-mob">
        <h2>Готовые решения и их стоимость</h2>
        <p>Получите бесплатный персональный расчет стоимости работ для Вашего объекта за 5 минут:</p>
      </div>

      <div class="section-quiz-content">
        <div class="section-quiz-header">
          <div class="section-quiz-items">
            <div class="flex">
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz1.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Консультация инженера
                </div>
                <div class="section-quiz-item-slogan">
                  Простым языком расскажет о вариантах решения Вашей задачи
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz2.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Выезд инженера
                </div>
                <div class="section-quiz-item-slogan">
                  Мастер приедет на место, оценит помещение, снимет замеры
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz3.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Эскизный чертеж
                </div>
                <div class="section-quiz-item-slogan">
                  До начала работ мы предоставим Вам 2 эскизных чертежа
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz4.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Понятный расчет
                </div>
                <div class="section-quiz-item-slogan">
                  Рассчитаем стоимость материалов, оборудования и работ
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-quiz-body">
          <div class="section-quiz-body-question" v-for="(item, index) in form">
            <div class="section-quiz-body-txt" v-if="index === step">
              {{ item.title }}
            </div>
          </div>

          <div class="section-quiz-progress-bar" v-if="done">
            <div class="section-quiz-progress-value">
              {{ progressValue }}
            </div>

            <div class="section-quiz-progress">
              <div class="section-quiz-progress-fill" :style="{width:(Math.round((step / (form.length - 1)) * 100)) + '%'}">
              </div>
            </div>
          </div>

          <div class="section-quiz-end" v-bind:class="{ active: show }">
            <div class="section-quiz-end-title">
              Отлично! Вы ответили на все вопросы! <br>
              А мы уже расчитываем стоимость систем для Вашего помещения!
            </div>
            <div class="section-quiz-end-subtitle">
              Оставьте Ваши контакты, чтобы мы смогли выслать Вам расчет на Viber
            </div>
            <div class="section-quiz-form">
              <form action="#" class="section-quiz-validate">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="section-quiz-form-cell">
                      <input type="text" name="name" id="name" placeholder="Ваше имя" ref="valueName">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="section-quiz-form-cell">
                      <input type="tel" name="tel" id="tel-quiz" placeholder="Ваш номер" ref="valueTel">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="section-quiz-form-cell">
                      <input type="submit" name="submit" id="submit" value="Получить рассчет стоимости"
                        @click.prevent="getData">
                    </div>
                  </div>
                </div>
              </Form>
            </div>
          </div>

          <div class="section-quiz-step" v-for="(item, index) in form">
            <div class="section-quiz-body-answers" v-if="index === step">
              <div class="row">
                <div class="col-sm-4" v-for="(value, index) in item.values">
                  <div class="section-quiz-body-answer">
                    <input type="radio" class="custom-checkbox" :id="index" name="answer" :value="value"
                      @change="getValue(value)">
                    <label :for="index">{{ value }}</label>
                    <div class="section-quiz-input"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-quiz-controller" v-if="done">
            <div class="row">
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn prev" @click.prevent="toPrevStep">
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#back"></use>
                  </svg>
                  Вернуться назад
                </button>
              </div>
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn skip" @click.prevent="toNextStep">
                  Пропустить вопрос
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#skip"></use>
                  </svg>
                </button>
              </div>
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn next" @click.prevent="toNextStep" v-bind:class="{ active: activeNext }">
                  Следующий вопрос
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#next"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-serv industrial">
    <div class="container">
      <div class="section-serv-title" id="section-serv-title">Наши услуги</div>
      <div class="row">
        <div class="col-7 col-none">
          <div class="section-serv-img-content industrial">
            <div class="section-serv-block"></div>
            <div class="section-serv-img">
              <img src="./images/serv.png" alt="alt">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="section-serv-links flex industrial">
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Проектирование систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Подбор и расчет оборудования для систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Монтаж систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Ремонт и диагностика систем вентиляции
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-serv-bg-mob">
      <img src="./images/bgs/industrial-img4-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-questions vent-house industrial">
    <div class="container">
      <div class="section-questions-title vent-house" id="section-questions-title">
        Получите бесплатный подбор оборудования под Ваш бюджет!
      </div>

      <div class="section-questions-subtitle vent-house">
        В течении 5 минут главный инженер свяжется с Вами и рассчитает стоимость оборудования
      </div>

      <div class="section-questions-form">
        <form action="#" class="section-questions-validate" novalidate="novalidate">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="section-questions-form-cell industrial">
                <input type="text" name="name" id="name" placeholder="Ваше имя">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="section-questions-form-cell industrial">
                <input type="tel" name="tel" id="tel1" placeholder="Ваш номер">
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="section-questions-form-cell industrial">
                <input type="submit" name="submit" id="submit" value="Подобрать оборудование">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="section-client">
    <div class="container">
      <div class="section-client-title">
        Улучшили микроклимат в помещениях более чем 100 клиентам
      </div>
      <div class="swiper client">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client1.png" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client6.png" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client2.png" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client7.png" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client3.png" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client8.png" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client4.png" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client9.png" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client5.png" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="./images/client10.png" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="https://via.placeholder.com/151x38/FFFFFF/000000" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="https://via.placeholder.com/151x38/000000/FFFFFF" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="https://via.placeholder.com/151x38/000000/FFFFFF" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="https://via.placeholder.com/151x38/FFFFFF/000000" alt="alt">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="https://via.placeholder.com/151x38/FFFFFF/000000" alt="alt">
              </div>
            </div>
            <div class="section-client-item">
              <div class="section-client-img">
                <img src="https://via.placeholder.com/151x38/000000/FFFFFF" alt="alt">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="section-client-btn">
        <div class="flex">
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev client-button-prev">
            <img src="./images/arrow-prev.svg" alt="alt">
          </div>
          <div class="swiper-button-next client-button-next">
            <img src="./images/arrow-next.svg" alt="alt">
          </div>
        </div>
      </div>
    </div>

    <div class="section-client-bg">
      <img src="./images/bgs/industrial-3.svg" alt="alt">
    </div>
    <div class="section-client-bg-mob">
      <img src="./images/bgs/industrial-img5-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-object-items">
    <div class="container">
      <div class="section-object-items-title" id="section-object-items">
        Выполненные объекты
      </div>
      <div class="section-object-items-subtitle">
        Мы успешно реализовали более 500 объктов по всей Беларуси!
      </div>
      <div class="section-object-carts">
        <div class="row">
          <div class="col-md-4 col-xs-4 col-ss-6">
            <a href="javascript:void(0)" class="section-items-link-cart">
              <div class="section-object-items-cart">
                <div class="section-object-items-img">
                  <img src="./images/obj1.jpg" alt="alt">
                </div>
                <div class="section-object-items-txt">
                  <div class="section-object-items-headline">
                    Вентиляция в бассейне, ”Ясная поляна”
                  </div>
                  <div class="section-object-items-desc">
                    Для вентиляции бассейна также была использована установка фирмы TURKOV
                    производительностью по воздуху 700 куб. метров в
                    час.
                  </div>
                </div>
                <div class="section-object-items-btn">
                  <img src="./images/link.png" alt="alt">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-xs-4 col-ss-6">
            <a href="javascript:void(0)" class="section-items-link-cart">
              <div class="section-object-items-cart">
                <div class="section-object-items-img">
                  <img src="./images/obj2.jpg" alt="alt">
                </div>
                <div class="section-object-items-txt">
                  <div class="section-object-items-headline">
                    Дом в деревне Горки, Слуцкий район
                  </div>
                  <div class="section-object-items-desc">
                    Основная разводка инженерных систем была произведена на цокольном этаже дома, что позволило скрыть
                    большую часть
                    коммуникаций.
                  </div>
                </div>
                <div class="section-object-items-btn">
                  <img src="./images/link.png" alt="alt">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-xs-4 col-none">
            <a href="javascript:void(0)" class="section-items-link-cart">
              <div class="section-object-items-cart">
                <div class="section-object-items-img">
                  <img src="./images/obj3.jpg" alt="alt">
                </div>
                <div class="section-object-items-txt">
                  <div class="section-object-items-headline">
                    Коттеджный поселок “Ясная поляна”
                  </div>
                  <div class="section-object-items-desc">
                    Для вентиляции жилых помещений нами была использована установкафирмы TURKOV производительностью по
                    воздуху 1000 куб.
                  </div>
                </div>
                <div class="section-object-items-btn">
                  <img src="./images/link.png" alt="alt">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="section-object-items-carts">
      </div>

      <div class="section-object-items-link">
        <a href="javascript:void(0)" class="section-object-items-open">Посмотреть все объекты</a>
      </div>
    </div>
  </div>

  <div class="section-reviews">
    <div class="container">
      <div class="section-reviews-title">
        Наши отзывы
      </div>

      <div class="section-reviews-slider">
        <!-- Slider main container -->
        <div class="swiper reviews">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="./images/feedback-slider1.jpg" alt="alt">
            </div>
            <div class="swiper-slide">
              <img src="./images/feedback-slider2.jpg" alt="alt">
            </div>
            <div class="swiper-slide">
              <img src="./images/feedback-slider3.jpg" alt="alt">
            </div>
            <div class="swiper-slide">
              <img src="https://via.placeholder.com/272x385/0000FF/808080" alt="alt">
            </div>
            <div class="swiper-slide">
              <img src="https://via.placeholder.com/272x385/FF0000/FFFFFF" alt="alt">
            </div>
            <div class="swiper-slide">
              <img src="https://via.placeholder.com/272x385/FFFFFF/000000" alt="alt">
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
        </div>
        <div class="swiper-button-prev reviews-button-prev">
          <img src="./images/arrow-prev.svg" alt="alt">
        </div>
        <div class="swiper-button-next reviews-button-next">
          <img src="./images/arrow-next.svg" alt="alt">
        </div>
      </div>
    </div>

    <div class="section-reviews-bg">
      <img src="./images/bgs/industrial-4.svg" alt="alt">
    </div>
    <div class="section-reviews-bg-mob">
      <img src="./images/bgs/industrial-img6-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-box-text up">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-desc">
            <h3>
              Оборудование для вентиляции промышленных помещений
            </h3>

            <p>
              Вентиляция промышленных помещений - неотъемлемая часть любого производства. С ее помощью возможно организовать приятные
              условия труда для специалистов, поддерживать исправное состояние техники, инструментов, обеспечивать нужную для
              изготавливаемой продукции температуру.
            </p>

            <p>
              Заказать проектирование, доставку, установку промышленных систем можно у нас в компании.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="section-box-text-img industrial">
            <h3>
              Оборудование для вентиляции промышленных помещений
            </h3>
            <img src="./images/industrial-img1.jpg" alt="alt">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-list">
    <div class="container">
      <div class="section-list-text-desc">
        <h3>
          Основные задачи вентиляции для цехов, складов и других производственных помещений
        </h3>

        <p>
          В сварочных цехах, на фабриках по производству металлических конструкций, древесины, энергии, механизмов, на других
          предприятиях нельзя обойтись без качественной промышленной вентиляции. Она призвана выполнять ряд задач:
        </p>

        <ul>
          <li>Постоянно снабжать производственные помещения чистым и свежим воздухом, который очень важен для работников, техники,
          продукции.
          </li>
          <li>Удалять отработанный воздух - тот, который наполнен газом, пылью, токсичными элементами, паром.</li>
          <li>Снижать % чрезвычайных ситуаций на предприятии, возникающих в связи с возгоранием.</li>
          <li>Помогать поддерживать здоровую атмосферу, которая улучшает самочувствие, настроение людей.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section-box-text">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-img industrial">
            <h3>
             Как выбрать систему вентиляции для промышленных зданий
            </h3>
            <img src="./images/industrial-img2.jpg" alt="alt">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="section-box-text-desc">
            <h3>
              Как выбрать систему вентиляции для промышленных зданий
            </h3>

            <p>
              Чтобы купленное оборудование оправдало все ожидания, выбирать его нужно с умом, предварительно изучив требования к
              технике. Обращать внимание нужно на эти параметры:
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-box-bg">
      <img src="./images/bgs/industrial-5.svg" alt="alt">
    </div>
  </div>

  <div class="section-list">
    <div class="container">
      <div class="section-list-text-desc">
        <ul>
          <li>Шум. Устройство должно работать в соответствии со стандартами безопасности труда.</li>
          <li>Противопожарный аспект. На производственных предприятиях можно использовать только ту вентиляцию, которая соответствует
          требованиям пожарной безопасности.</li>
          <li>Простота монтажа. Важно чтобы оборудование, которое вас заинтересовало, могло быть правильно установлено - с учетом
          необходимости периодических осмотров и ТО.</li>
          <li>Уровень энергосбережения. Необходимо подобрать такую систему, которая даст максимум эффекта при минимуме затрат энергии.
          В первую очередь это позволят производственному предприятию сократить затраты на электроэнергию.</li>
          <li>Экологичность. Система должна работать безопасно для людей и окружающей среды.</li>
        </ul>

        <p>На какие бренды обратить внимание <br>
        В мире полно производителей климатической техники, поэтому покупателю часто тяжело сделать выбор. Мы являемся
        официальными дилерами 20 брендов, зарекомендовавших себя как надежных производителей. Если вы будете выбирать
        промышленное или бытовое устройство среди их продукции, точно не ошибетесь. Это:</p>

        <p>
          Electrolux, <br>
          Daikin, <br>
          General Climate, <br>
          LG, <br>
          Ballu, <br>
          Gree, <br>
          Zanussi и многие другие. <br>
        </p>

        <p>Если вам сложно оценить модель, выбрать между несколькими вариантами, обратитесь за помощью к нашему менеджеру. Он
        бесплатно поможет подобрать вентиляцию для промышленных складов, цехов с учетом сферы деятельности производства,
        бюджета, площади, необходимых опций.</p>
      </div>
    </div>
  </div>

  <div class="section-content-text industrial">
    <div class="container">
      <div class="flex">
        <div class="section-content-text-desc industrial">
          <h3>
            От чего зависит цена оборудования для вентиляции промышленных систем
          </h3>

          <p>
            Для производственного предприятия актуальна рациональная покупка любого оборудования. В идеале установка для вентиляции
            должна иметь среднюю цену, быть качественной и исправно работать на протяжении долгих лет. Но цены на рынке разные, они
            зависят от:
          </p>

          <ul>
            <li>производителя - одна компания может изготавливать бюджетные модели, другая - премиум-класса;</li>
            <li>наличия или отсутствия дополнительных опций;</li>
            <li>размеров и того, сколько квадратных метров на предприятии необходимо обеспечивать свежим воздухом;</li>
            <li>других факторов.</li>
          </ul>
          <p>Чтобы найти систему для вентиляции промышленных помещений по максимально выгодной цене, воспользуйтесь услугами нашей
          компании. Мы работаем с компаниями-изготовителями напрямую, поэтому предлагаем оборудование по стоимости на 20-30% ниже,
          чем на рынке. Оставляйте заявку, если хотите получить проект, доставку и монтаж от профессионалов</p>
        </div>

        <div class="section-content-text-img industrial">
          <h3>
            От чего зависит цена оборудования для вентиляции промышленных систем
          </h3>
          <img src="./images/industrial-img3.jpg" alt="alt">
        </div>
      </div>
    </div>
  </div>
</div>

<!--#include file="inc-footer2.html"-->