<!--#include file="inc-header.html"-->

<div class="middle" id="middle">
  <div class="section-info vent-house">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-info-txt vent-house">
            <h1 class="section-info-txt-title">Системы вентиляции в доме и на даче “Под ключ” в Минске и Гомеле</h1>
            <p class="section-info-txt-subtitle">Узнай стоимость вентиляции на даче или в доме  всего за <span>1 минуту!</span></span></p>
            <button class="section-info-txt-btn">Рассчитать</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-info-img vent-house">
            <img src="./images/vent-house-info.png" alt="alt">
          </div>
        </div>
      </div>
    </div>
    <div class="section-info-bgs-left">
      <img src="./images/bgs/bg-circle1.svg" alt="alt">
    </div>
    <div class="section-info-bgs-right">
      <!-- <img src="./images/bgs/bg-circle2.svg" alt="alt"> -->
      <picture>
        <source media="(max-width: 1024px)" srcset="./images/bgs/bg-circle2.svg">
        <img src="./images/bgs/bg-circle2.svg" alt="alt">
      </picture>
    </div>
  </div>

  <div class="section-solutions vent-house bg-grey">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <h2>Решения для дома</h2>

        <div class="row">
          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Вытяжная вентиляция</h3>
              <img src="./images/vent-house-sol1.png" alt="alt">
            </div>
          </div>

          <div class="col-md-7">
            <div class="section-solutions-txt">
              <h3>Вытяжная вентиляция</h3>

              <p>
                Вытяжная система вентиляции для домов - это решение проблемы вывода влажного и перенасыщенного СО2 воздуха из вашего дома. Ставится за пару часов и не нарушает целостность крыши. Быстро избавляет от неприятных запахов в доме. Помогает бороться с сыростью и плесенью. Работает максимально тихо
              </p>

              <div class="section-solutions-btn">
                <button class="btn-blue vent-house">Узнать стоимость</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-solutions vent-house">
    <div class="container">
      <div class="section-solutions-type vent-house">
        <div class="row reverse">
          <div class="col-md-7">
            <div class="section-solutions-txt">
              <h3>Приточная вентиляция</h3>

              <p>
                Приточная вентиляция предназначена для подачи воздуха в помещение. Если говорить проще, то приточная вентиляция – это проветривание помещения. Проветривание путем открывания окон и дверей уже давно неактуально, потому что существует вентиляционная система.
              </p>

              <p>
                В том случае, когда необходимо обеспечить постоянный поток свежего воздуха в здание, рекомендуется устанавливать приточные системы вентиляции..
              </p>

              <div class="section-solutions-btn">
                <button class="btn-blue vent-house">Узнать стоимость</button>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Приточно-вытяжная вентиляция</h3>
              <img src="./images/vent-house-sol2.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-solutions vent-house bg-grey">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <div class="row">
          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Приточно вытяжная вентиляция с рекуперацией</h3>
              <img src="./images/vent-house-sol3.png" alt="alt">
            </div>
          </div>

          <div class="col-md-7">
            <div class="section-solutions-txt">
              <h3>Приточно вытяжная вентиляция с рекуперацией</h3>

              <p>
                Благодаря данной вентиляционной системе чистый свежий воздух будет распространяться по комнатам. Газы с пылью задерживаются многоступенчатой очисткой, поэтому в помещение не попадет посторонний аромат. Приточно-вытяжными системами обеспечивается отличная циркуляция. Мгновенно будут устраняться неприятные запахи из туалетной и кухонной комнаты, не успев распространиться по комнатам дома.
              </p>

              <div class="section-solutions-btn">
                <button class="btn-blue vent-house">Узнать стоимость</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-solutions vent-house">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <h2>Решения для дачи</h2>

        <div class="row reverse">
          <div class="col-md-7">
            <div class="section-solutions-txt">
              <h3>Децентрализованные установки</h3>

              <p>
                Компактные устройства приточной вентиляции. Принудительно подаёт воздух с улицы в помещение, очищая его и подогревая до комфортной температуры.
                С помощью децентрализованной установки можно обеспечить поступление свежего воздуха, не открывая окно. Это избавит от шума с улицы, появления пыли, неприятных запахов и возникновения сквозняков.
              </p>

              <p>
                Воздух с улицы через впускное отверстие засасывается в корпус , где он проходит через систему ступенчатой фильтрации от грубой до сверхтонкой очистки, и через угольный фильтр, очищающий от запахов и газов.
              </p>

              <div class="section-solutions-btn">
                <button class="btn-blue vent-house">Узнать стоимость</button>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Децентрализованные установки</h3>
              <img src="./images/vent-house-sol4.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-solutions vent-house bg-grey">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <div class="row">
          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Вытяжная вентиляция в даче</h3>
              <img src="./images/vent-house-sol5.png" alt="alt">
            </div>
          </div>

          <div class="col-md-7">
            <div class="section-solutions-txt">
              <h3>Вытяжная вентиляция в даче</h3>

              <p>
                Вытяжная вентиляция – это техническое устройство, предназначенное для быстрого и эффективного удаления загрязненного или нагретого воздуха из помещения. Она широко применяется в жилых помещениях и чаще всего устанавливается на кухне, в санузлах и ванных комнатах, в каминных залах.
              </p>

              <p>
                Вентиляция позволяет осуществлять регулярный приток воздуха. Благодаря чистоте и скорости обмена воздушных масс, постоянной влажности и температуре воздуха обеспечиваются комфортные условия для быта и работы.
              </p>

              <div class="section-solutions-btn">
                <button class="btn-blue vent-house">Узнать стоимость</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-serv vent-house">
    <div class="container">
      <div class="section-serv-title" id="section-serv-title">Наши услуги</div>
      <div class="row">
        <div class="col-7 col-none">
          <div class="section-serv-img-content">
            <div class="section-serv-img">
              <img src="./images/serv.png" alt="alt">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="section-serv-links flex">
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Проектирование систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Подбор и расчет оборудования для систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Монтаж систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Ремонт и диагностика систем вентиляции
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-possibility vent-house">
    <div class="container">
      <div class="section-choice-sidebar vent-house">
        <div class="section-choice-sidebar-txt vent-house">
          Наши преимущества
        </div>
      </div>
      <div class="flex">
        <div class="section-possibility-carts">
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-title">
                    01
                  </div>
                  <div class="section-possibility-txt-subtitle">
                    Сервис и гарантия
                  </div>
                  <div class="section-possibility-txt-slogan">
                    Сервисное и гарантийное обслуживание в любой точке беларуси в кратчайшие сроки
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-title">
                    02
                  </div>
                  <div class="section-possibility-txt-subtitle">
                    Быстрая поставка
                  </div>
                  <div class="section-possibility-txt-slogan">
                    Кратчайшие сроки поставки оборудования так как мы прямой поставщик
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-title">
                    03
                  </div>
                  <div class="section-possibility-txt-subtitle">
                    Контроль качества
                  </div>
                  <div class="section-possibility-txt-slogan">
                    Контроль качества штатным прорабом в процессе и после сдачи проекта
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-title">
                    04
                  </div>
                  <div class="section-possibility-txt-subtitle">
                    Любой бюджет
                  </div>
                  <div class="section-possibility-txt-slogan">
                    Мы можем предложить решения под любой бюджет, так как сотрудничаем с поставщиками оборудования.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      $(document).ready(function() {
          var app = new Vue({
          el: '.section-quiz',
          data: {
            step: 0,
            answer: [],
            show: false,

            form: [
              {
                title: '1.Укажите площадь Вашего объекта:',
                values: ['До 60 кв. м', 'От 60 кв. м до 100 кв. м', 'От 120 кв. м до 160 кв. м', 'От 160 кв. м до 200 кв. м', 'От 200 кв. м до 300 кв. м ', 'От 300 кв. м '
                ],
              },

              {
                title: '2.Укажите задачу,которую нужно решить:',
                values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
              },

              {
                title: '3.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
              },

              {
                title: 'Вопрос 4:',
                values: ['Да', 'Нет, нужно сделать'],
              },

              {
                title: '5.6. Когда нужно приступать к работе?',
                values: ['Вчера', 'Сегодня', 'Завтра', 'В течение недели', 'В течение месяца', 'Пока не знаю'],
              },
            ],
          },

          methods: {
            toNextStep() {
              if (this.step <= this.form.length - 2) {
                this.step++;
              } else {
                const str = JSON.stringify(this.answer);
                // console.log(str)

                // send data
                // fetch("https://jsonplaceholder.typicode.com/posts", {
                //   method: "POST",
                //   body: JSON.stringify(str),
                //   headers: {
                //     "Content-type": "application/json; charset=UTF-8",
                //   },
                // })
                //   .then((response) => response.json())
                //   .then((data) => {
                //     console.log(data)
                //   })
              }

              if (this.step === this.form.length) {
                this.show = true;
              }
            },

            toPrevStep() {
              if (this.step !== 0) {
                this.step--;
                this.show = false;
              }
            },

            getValue(val) {
              const obj = {
                question: this.form[this.step].title,
                answer: val,
              }

              this.answer[this.step] = obj;
            },
          },

          computed: {
            stepData: function() {
              return this.form[this.step]
            },

            btnText: function() {
              if (this.step < this.form.length - 1) {
                return 'Следующий вопрос'
              } else {
                return 'Отправить'
              }
            },

            progressValue: function() {
              if (this.step >= 1) {
                return `${Math.round((this.step / (this.form.length - 1)) * 100) + '%'} уже готово!`
              }
            },
          }
        });
      });
    });
  </script>

  <div class="section-quiz vent-house">
    <div class="container">
      <div class="section-quiz-heading">
        <h2>Рассчет стоимости</h2>
        <p>Ответьте на 5 простых вопросов и получите:</p>
      </div>

      <div class="section-quiz-mob">
        <h2>Готовые решения и их стоимость</h2>
        <p>Получите бесплатный персональный расчет стоимости работ для Вашего объекта за 5 минут:</p>
      </div>

      <div class="section-quiz-content">
        <div class="section-quiz-header">
          <div class="section-quiz-items">
            <div class="flex">
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz1.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Консультация инженера
                </div>
                <div class="section-quiz-item-slogan">
                  Простым языком расскажет о вариантах решения Вашей задачи
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz2.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Выезд инженера
                </div>
                <div class="section-quiz-item-slogan">
                  Мастер приедет на место, оценит помещение, снимет замеры
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz3.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Эскизный чертеж
                </div>
                <div class="section-quiz-item-slogan">
                  До начала работ мы предоставим Вам 2 эскизных чертежа
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz4.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Понятный расчет
                </div>
                <div class="section-quiz-item-slogan">
                  Рассчитаем стоимость материалов, оборудования и работ
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-quiz-body">
          <div class="section-quiz-body-question"  v-for="(item, index) in form">
            <div class="section-quiz-body-txt" v-if="index === step">
              {{ item.title }}
            </div>
          </div>

          <div class="section-quiz-progress-bar">
            <div class="section-quiz-progress-value">
              {{ progressValue }}
            </div>

            <div class="section-quiz-progress">
              <div class="section-quiz-progress-fill" :style="{width:(Math.round((step / (form.length - 1)) * 100)) + '%'}">
              </div>
            </div>
          </div>

          <div class="section-quiz-step" v-for="(item, index) in form">
            <div class="section-quiz-body-answers" v-if="index === step">
              <div class="row">
                <div class="col-sm-4" v-for="(value, index) in item.values">
                  <div class="section-quiz-body-answer">
                    <input type="radio" class="custom-checkbox" :id="index" name="answer" :value="value"
                        @change="getValue(value)">
                    <label :for="index">{{ value }}</label>
                    <div class="section-quiz-input"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-quiz-controller">
            <div class="row">
              <div class="col-sm-4 col-hidden">
                <button class="section-quiz-btn prev" @click.prevent="toPrevStep">
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#back"></use>
                  </svg>
                  Вернуться назад
                </button>
              </div>
              <div class="col-sm-4 col-hidden">
                <button class="section-quiz-btn skip" @click.prevent="toNextStep">
                  Пропустить вопрос
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#skip"></use>
                  </svg>
                </button>
              </div>
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn next" @click.prevent="toNextStep">
                  {{ btnText }}
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#next"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-object">
    <div class="section-object-items vent-house">
      <div class="container">
        <div class="section-object-items-title" id="section-object-items">
          Выполненные объекты
        </div>
        <div class="section-object-items-subtitle">
          Мы успешно реализовали более 500 объктов по всей Беларуси!
        </div>
        <div class="section-object-carts">
          <div class="row">
            <div class="col-md-4 col-xs-4 col-ss-6">
              <a href="javascript:void(0)" class="section-items-link-cart">
                <div class="section-object-items-cart">
                  <div class="section-object-items-img">
                    <img src="./images/cart.png" alt="alt">
                  </div>
                  <div class="section-object-items-txt">
                    <div class="section-object-items-headline">
                      Вентиляция в бассейне, ”Ясная поляна”
                    </div>
                    <div class="section-object-items-desc">
                      Для вентиляции бассейна также была использована установка фирмы TURKOV
                      производительностью по воздуху 700 куб. метров в
                      час.
                    </div>
                  </div>
                  <div class="section-object-items-btn">
                    <img src="./images/link.png" alt="alt">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-xs-4 col-ss-6">
              <a href="javascript:void(0)" class="section-items-link-cart">
                <div class="section-object-items-cart">
                  <div class="section-object-items-img">
                    <img src="./images/cart2.png" alt="alt">
                  </div>
                  <div class="section-object-items-txt">
                    <div class="section-object-items-headline">
                      Дом в деревне Горки, Слуцкий район
                    </div>
                    <div class="section-object-items-desc">
                      Основная разводка инженерных систем была произведена на цокольном этаже дома, что позволило
                      скрыть
                      большую часть
                      коммуникаций.
                    </div>
                  </div>
                  <div class="section-object-items-btn">
                    <img src="./images/link.png" alt="alt">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-xs-4 col-none">
              <a href="javascript:void(0)" class="section-items-link-cart">
                <div class="section-object-items-cart">
                  <div class="section-object-items-img">
                    <img src="./images/cart3.png" alt="alt">
                  </div>
                  <div class="section-object-items-txt">
                    <div class="section-object-items-headline">
                      Коттеджный поселок “Ясная поляна”
                    </div>
                    <div class="section-object-items-desc">
                      Для вентиляции жилых помещений нами была использована установкафирмы TURKOV производительностью
                      по
                      воздуху 1000 куб.
                    </div>
                  </div>
                  <div class="section-object-items-btn">
                    <img src="./images/link.png" alt="alt">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="section-object-items-carts">
        </div>

        <div class="section-object-items-link">
          <a href="javascript:void(0)" class="section-object-items-open">Посмотреть все объекты</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-questions vent-house">
    <div class="container">
      <div class="section-questions-title vent-house" id="section-questions-title">
        Получите бесплатный подбор оборудования под Ваш бюджет!
      </div>

      <div class="section-questions-subtitle">
        В течении 5 минут главный инженер свяжется с Вами и рассчитает стоимость оборудования
      </div>

      <div class="section-questions-form">
        <form action="#" class="section-questions-validate" novalidate="novalidate">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="section-questions-form-cell">
                  <input type="text" name="name" id="name" placeholder="Ваше имя">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="section-questions-form-cell">
                  <input type="tel" name="tel" id="tel" placeholder="Ваш номер">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-questions-form-cell">
                  <input type="submit" name="submit" id="submit" value="Подобрать оборудование">
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>

  <div class="section-box-text up bg-white vent-house">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-desc vent-house">
            <h3>
              Качественная вентиляция в частном доме влияет на здоровье
            </h3>

            <p>
              Многим людям кажется, что в частных домах будет достаточно естественной системы вентиляции — обычного проветривания. Это личный выбор каждого, но вентиляция в частном доме хоть и не обязательна, однако обеспечивает дополнительный комфорт жильцам.
            </p>

            <p>
              Но если вы решились заняться установкой такой системы в своём доме, то надо иметь представление об устройстве и понятиях правильной системы вентиляции. На сегодняшний день существует большое количество разнообразных видов вентилирования помещений, которые стоит рассмотреть подробнее, чтобы не ошибиться с выбором.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="section-box-text-img vent-house">
            <h3>
              Качественная вентиляция в частном доме влияет на здоровье
            </h3>
            <img src="./images/vent-house-box1.png" alt="alt">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-box-text vent-house">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-img">
            <h3>
              Разновидности вентиляционной системы в частных домах
            </h3>
            <img src="./images/vent-house-box2.png" alt="alt">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="section-box-text-desc">
            <h3>
              Разновидности вентиляционной системы в частных домах
            </h3>

            <p>
              Сегодня можно найти и приобрести несколько основных видов проветривания помещений, которые используются в различных ситуациях и для разных целей. Обязательно нужно понимать, что для внедрения дополнительной вентиляции в постройку, требуется совмещать два основополагающих процесса: приток свежего и отток загрязненного воздуха. Чтобы сделать работу системы максимально эффективной и качественной, следует обеспечивать приблизительно одинаковый объем выводимого и поступающего в здание воздуха. Это поможет сохранить баланс.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content-list">
    <div class="container">
      <div class="section-content-list-desc vent-house">
        <p>
          В частных домах предусмотрено три основных вида проветривания, которые имеют некоторые различия. Каждый клиент выбирает в зависимости от предназначения здания, бюджета и личных предпочтений. Планирование происходит индивидуально, исходя из выбранного вида.
        </p>

        <ol>
          <li>Вентилирование естественного типа — неорганизованный приток воздуха, который представляет собой минимум всех построек.</li>
          <li>Принудительного типа (общеобменное вентилирование) — известными представителями являются вытяжные и прочные установки на кухне, в санузле или гардеробных.</li>
          <li>Смешанное вентилирование или гибридный тип вентиляции — поток организационного типа, подобен естественному вентилированию. Такая система охватывает все здание, а не его отдельные помещения.</li>
        </ol>

        <p>
          На сегодня не существует определённых норм по проветриванию помещений. Исключение составляет регламент о естественной вентиляции зданий. При наличии системы вентилирования воздух в постройке непрерывно обновляется, что положительно влияет на здоровье его жильцов и микроклимат помещений здания. Это особенно важно в современном мире, когда иммунная система человека подвергается множеству негативных факторов. Чистый воздух помогает избежать частых болезней.
        </p>

        <p>
          Чаще всего разработкой схем и планов системы циркуляции воздуха в помещении занимаются профессионалы, которые хорошо разбираются в этой сфере и могут выявить неполадки на ранней стадии процесса. Но при желании можно создать такую систему своими руками. Это не так сложно, как может показаться на первый взгляд.
        </p>
      </div>
    </div>
  </div>

  <div class="section-box-text up vent-house">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-desc">
            <h3>
              Вентиляция для загородных домов
            </h3>

            <p>
              На сегодняшний день многие задаются вопросом, как сделать вентиляцию в частном доме. Сейчас много компаний предоставляют свои услуги по составлению схемы проветривания помещения и установке самой системы вентиляции. В некоторых случаях гарантировать себе чистый воздух можно и самостоятельно. Для этого нужно выполнить несколько простых шагов.
            </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="section-box-text-img">
            <h3>
              Вентиляция для загородных домов
            </h3>
            <img src="./images/vent-house-box3.png" alt="alt">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content-list">
    <div class="container">
      <div class="section-content-list-desc vent-house">
        <p>
          Для начала, перед закупкой труб и установкой всей системы, нужно сделать первичный набросок с расположением мест, где воздух будет подаваться и откуда удаляться. Это очень важно, потому что без чертежа невозможно купить трубы и выбрать верное количество. Безупречно эту работу выполнят профессионалы, которые помогут рассчитать оптимальное расположение всей системы. Любая малейшая ошибка на начальном этапе может дорого обойтись в будущем
        </p>

        <p>
          После этого происходит закупка необходимых труб и установка системы циркуляции воздуха. Естественный вариант вентилирования подходит для загородных домов, которые находятся не так близко от крупных предприятий и дорог. Более сложную схему используют в домах, где либо слишком загрязненный воздух, либо естественное вентилирование не помогает в такой ситуации.
        </p>

        <p>
          Наиболее часто своими руками обустраивают систему вентилирования естественного типа, но при наличии необходимых навыков и сноровки, можно установить как принудительную, так и гибридную.
        </p>
      </div>
    </div>
  </div>

  <div class="section-box-text bg-grey vent-house">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-img vent-house">
            <h3>
              Где заказать установку вентиляции в дом
            </h3>
            <img src="./images/vent-house-box4.png" alt="alt">

            <p>
              Наша организация предоставляет широкий спектр предложений и услуг по проведению вентиляции в частном доме в Минске. Специалисты помогут подобрать оптимальный вид проветривания для вашего дома, разработают подробную схему, а квалифицированные рабочие без проблем установят систему по чертежу. Естественное, принудительное и гибридное проветривание — наша компания занимается установкой самых разных видов вентилирования помещений.
            </p>

            <p>
              Подробнее со спектром предоставляемых услуг и расценками можно ознакомиться на официальном сайте нашей компании. Помимо этого, на портале представлены контактные данные представителей организации. При необходимости, с работниками нашего магазина всегда можно связаться по указанному номеру телефона или иным удобным для вас способом.
            </p>
          </div>
        </div>

        <div class="col-sm-6 col-0">
          <div class="section-box-text-desc vent-house">
            <h3>
              Где заказать установку вентиляции в дом
            </h3>

            <p>
              В новейших постройках, где вмонтированы пластиковые окна и двери из металла, обеспечивающие как безопасность, так и изоляцию от внешнего мира, необходима хорошая система вентиляции воздуха. Повышенная герметичность домов требует такого же усиленного внимания к проветриванию помещения. Именно поэтому на сегодняшний день существует огромное количество фирм, предлагающих установку систем вентилирования.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content-list col-0">
    <div class="container">
      <div class="section-content-list-desc">
        <p>
          Наша организация предоставляет широкий спектр предложений и услуг по проведению вентиляции в частном доме в Минске. Специалисты помогут подобрать оптимальный вид проветривания для вашего дома, разработают подробную схему, а квалифицированные рабочие без проблем установят систему по чертежу. Естественное, принудительное и гибридное проветривание — наша компания занимается установкой самых разных видов вентилирования помещений.
        </p>

        <p>
          Подробнее со спектром предоставляемых услуг и расценками можно ознакомиться на официальном сайте нашей компании. Помимо этого, на портале представлены контактные данные представителей организации. При необходимости, с работниками нашего магазина всегда можно связаться по указанному номеру телефона или иным удобным для вас способом.
        </p>
      </div>
    </div>
  </div>
</div>

<!--#include file="inc-footer.html"-->