<!--#include file="inc-header.html"-->

<div class="middle" id="middle">
  <div class="section-info vent-building">
    <div class="container">
      <div class="flex">
        <div class="section-info-txt vent-building">
            <h1 class="section-info-txt-title">Системы вентиляции в офисе, ресторане и кафе “Под ключ” в Минске и Гомеле </h1>
            <p class="section-info-txt-subtitle">Узнай стоимость вентиляции в офисе,ресторане или кафе  всего за <b>1 минуту!</b></p>
            <a href="javascript:void(0)" class="section-info-txt-btn">Рассчитать</a>
          </div>
        <div class="section-info-img vent-building">
            <img src="./images/vent-building-info.png" alt="alt">
          </div>
      </div>
    </div>
    <div class="section-info-bgs-left">
      <img src="./images/bgs/bg-circle1.svg" alt="alt">
    </div>
    <div class="section-info-bgs-right vent-building">
      <!-- <img src="./images/bgs/bg-circle2.svg" alt="alt"> -->
      <picture>
        <source media="(max-width: 1024px)" srcset="./images/bgs/vent-info-mob.svg">
        <img src="./images/bgs/bg-house-info.svg" alt="alt">
      </picture>
    </div>
  </div>

  <div class="section-solutions vent-building">
    <div class="container">
      <div class="section-solutions-type vent-building bg-left">
        <h2>Решения для бассейна</h2>

        <div class="row">
          <div class="col-md-5">
            <div class="section-solutions-item vent-building">
              <h3>Полноценная вентиляция в бассейне</h3>
              <img src="./images/vent-building-sol1.png" alt="alt">
            </div>
          </div>

          <div class="col-md-7">
            <div class="section-solutions-txt vent-building">
              <h3>Полноценная вентиляция в бассейне</h3>

              <p>
                Самым распространенным способом поддержания оптимальных значений влажности и качества воздуха бассейна есть приточно-вытяжная вентиляция. Эта система включает вентиляционную установку, сеть воздуховодов и распределительных устройств.
              </p>

              <p>
                Вентиляционная установка в свою очередь содержит такие элементы, как воздушный фильтр, вентилятор, нагреватель, рекуператор и систему автоматики.
              </p>

              <p>
                В систему при очень жаркой погоде добавляются охладители воздуха и автономные осушители. Применение рекуперации воздушной массы в системе вентиляции является экономически целесообразной, так как дает возможность использовать удаляемый воздух для подогрева приточного.
              </p>

              <div class="section-solutions-btn">
                <a href="javascript:void(0)" class="btn-blue vent-building">Узнать стоимость</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-solutions-mob right">
      <img src="./images/bgs/sol-bg-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-solutions vent-building bg-grey">
    <div class="container">
      <div class="section-solutions-type vent-building">
        <div class="row reverse">
          <div class="col-md-7">
            <div class="section-solutions-txt vent-building">
              <h3>Осушители воздуха в бассейне</h3>

              <p>
                Проблема повышенной влажности в бассейне частично решается посредством специальных осушителей воздуха. Выбор этого оборудования осуществляется согласно объема помещения. Осушительные приборы за 1 час работы пропускают троекратный объем находящейся в помещении увлажненной воздушной массы.
              </p>

              <p>
                Подбор осушителей осуществляется по параметрам, необходимым для данного объекта. Действие осушителей базируется на проведении сгущения водяного пара. Некоторые модели комплектуются устройством притока свежего воздуха.
              </p>

              <div class="section-solutions-btn">
                <a href="javascript:void(0)" class="btn-blue vent-building">Узнать стоимость</a>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="section-solutions-item vent-building">
              <h3>Осушители воздуха в бассейне</h3>
              <img src="./images/vent-building-sol2.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-solutions-bg">
      <img src="./images/bgs/bg-vent-sol1.svg" alt="alt">
    </div>

    <div class="section-solutions-mob left">
        <img src="./images/bgs/sol-bg-mob-left.svg" alt="alt">
    </div>
  </div>

  <div class="section-solutions vent-building">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <h2>Решения для кальянных</h2>

        <div class="row">
          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Общая вентиляция</h3>
              <img src="./images/vent-building-sol3.png" alt="alt">
            </div>
          </div>

          <div class="col-md-7">
            <div class="section-solutions-txt vent-building">
              <h3>Общая вентиляция</h3>

              <p>
                Этот вариант обойдется дороже, но способствует сохранению тепла и сбережет до 85% денег на обогрев воздуха. Это снижает затраты на дальнейшую эксплуатацию системы. Теплый вытяжной воздух, который покидает пределы помещения, проходит по особым каналам теплообменника. Его также называют рекуператором воздуха. Проходя через него, воздух передает свое тепло. Благодаря такой особенности удается сохранить тепло внутри помещения, за счет чего вы сэкономите немало денег на функционировании системы отопления в зимний период.
              </p>

              <div class="section-solutions-btn">
                <a href="javascript:void(0)" class="btn-blue vent-building">Узнать стоимость</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section-solutions-mob right">
      <img src="./images/bgs/sol-bg-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-solutions vent-building bg-grey">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <div class="row reverse">
          <div class="col-md-7">
            <div class="section-solutions-txt vent-building">
              <h3>Местная вентиляция</h3>

              <p>
                Наиболее гармоничный вариант, представляющий собой приточную установку (или вентилятор с дополнительным комплектом автоматики для управления) с водяным или электрическим калорифером (нагревателем) и автономная вытяжная система с вентилятором. Однако при организации правильной системы автоматики, есть возможность достаточно плавно и точно управлять системой, что обеспечивает максимальный комфорт посетителей и экономию электроэнергии.
              </p>
              <div class="section-solutions-btn">
                <a href="javascript:void(0)" class="btn-blue vent-building">Узнать стоимость</a>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="section-solutions-item vent-house">
              <h3>Местная вентиляция</h3>
              <img src="./images/vent-building-sol4.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-solutions-bg left">
      <img src="./images/bgs/bg-vent-sol-left.svg" alt="alt">
    </div>

    <div class="section-solutions-mob left">
        <img src="./images/bgs/sol-bg-mob-left.svg" alt="alt">
    </div>
  </div>

  <div class="section-solutions vent-building">
    <div class="container">
      <div class="section-solutions-type vent-house bg-left">
        <h2>Решения для баров и ресторанов</h2>

        <div class="row reverse">
          <div class="col-md-6">
            <div class="section-solutions-txt vent-building">
              <h3>Вентиляция в гостевых залах</h3>

              <p>
                Этот вариант обойдется дороже, но способствует сохранению тепла и сбережет до 85% денег на обогрев воздуха. Это снижает затраты на дальнейшую эксплуатацию системы. Теплый вытяжной воздух, который покидает пределы помещения, проходит по особым каналам теплообменника. Его также называют рекуператором воздуха. Проходя через него, воздух передает свое тепло. Благодаря такой особенности удается сохранить тепло внутри помещения, за счет чего вы сэкономите немало денег на функционировании системы отопления в зимний период.
              </p>

              <div class="section-solutions-btn">
                <a href="javascript:void(0)" class="btn-blue vent-building">Узнать стоимость</a>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="section-solutions-item vent-house">
              <h3>Вентиляция в гостевых залах</h3>
              <img src="./images/vent-building-sol5.png" alt="alt">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-solutions-mob right">
      <img src="./images/bgs/sol-bg-mob.svg" alt="alt">
    </div>
  </div>

  <div class="section-solutions vent-building bg-grey">
    <div class="container">
      <div class="section-solutions-type vent-building bg-left">
        <div class="row">
          <div class="col-md-5">
            <div class="section-solutions-item vent-building">
              <h3>Вентиляция для кухни</h3>
              <img src="./images/vent-building-sol6.png" alt="alt">
            </div>
          </div>

          <div class="col-md-7">
            <div class="section-solutions-txt vent-building">
              <h3>Вентиляция для кухни</h3>

              <p>
                Вентиляционная система в горячем рабочем помещении состоит из приточной и вытяжной систем. Система питания состоит из воздушных фильтров, вентиляторов, нагревателей (электрических или водных) и шумоглушителей(акустических). Вытяжные системы состоят из специальных смазочных фильтров и вытяжных вентиляторов с двигателем, расположенным снаружи корпуса, которые, в свою очередь, легко очищаются и моются.
              </p>
              <div class="section-solutions-btn">
                <a href="javascript:void(0)" class="btn-blue vent-building">Узнать стоимость</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-solutions-mob left">
        <img src="./images/bgs/sol-bg-mob-left.svg" alt="alt">
    </div>
  </div>

  <div class="section-serv vent-house">
    <div class="container">
      <div class="section-serv-title" id="section-serv-title">Наши услуги</div>
      <div class="row">
        <div class="col-7 col-none">
          <div class="section-serv-img-content">
            <div class="section-serv-img">
              <img src="./images/serv.png" alt="alt">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="section-serv-links flex">
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Проектирование систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Подбор и расчет оборудования для систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Монтаж систем вентиляции
              </a>
            </div>
            <div class="section-serv-link">
              <a href="javascript:void(0)" class="section-serv-link-inner">
                Ремонт и диагностика систем вентиляции
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-serv-bg">
      <img src="./images/bgs/bg-serv-vent.svg" alt="alt">
    </div>
  </div>

  <div class="section-possibility vent-house">
    <div class="container">
      <div class="section-choice-sidebar vent-building">
        <div class="section-choice-sidebar-txt">
          Наши преимущества
        </div>
      </div>
      <div class="flex">
        <div class="section-possibility-carts">
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/service.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Сервис и гарантия
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Сервисное и гарантийное обслуживание в любой точке беларуси в кратчайшие сроки
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/delivery.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Быстрая поставка
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Кратчайшие сроки поставки оборудования так как мы прямой поставщик
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/quality.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Контроль качества
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Контроль качества штатным прорабом в процессе и после сдачи проекта
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-possibility-cart">
            <div class="section-possibility-block">
              <div class="section-possibility-item vent-building">
                <div class="section-possibility-txt">
                  <div class="section-possibility-txt-icon vent-building">
                    <img src="./images/icons/money.svg" alt="alt">
                  </div>
                  <div class="section-possibility-txt-subtitle vent-building">
                    Любой бюджет
                  </div>
                  <div class="section-possibility-txt-slogan vent-building">
                    Мы можем предложить решения под любой бюджет, так как сотрудничаем с поставщиками оборудования.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      $(document).ready(function() {
          var app = new Vue({
          el: '.section-quiz',
          data: {
            step: 0,
            answer: [],
            form: [],
            contact: [],
            activeNext: true,
            show: false,
            done: true,

            start: {
                title: '1.Укажите площадь Вашего объекта:',
                questions: [
                  {
                    title: 'Кафе, ресторан',
                    value: 'cafe',
                  },

                  {
                    title: 'Офис',
                    value: 'office',
                  },

                  {
                    title: 'Бассейн',
                    value: 'pool',
                  },

                  {
                    title: 'Другое',
                    value: 'another',
                  },
                ],
              },

            cafe: [
              {
                title: '2.Укажите тип помещения',
                values: ['Гостевой зал', 'Кухня', 'Тех. помещения', 'Другое'],
              },

              {
                title: '3.Укажите площадь помещения:',
                values: ['До 30 кв.м', 'От 30 кв. м до 60 кв. м', 'От 60 кв. м до 120 кв. м', 'От 120 кв. м до 200 кв. м', 'От 200 кв. м до 500 кв. м', 'От 500 кв. м '],
              },

              {
                title: '4.Укажите количество посетителей/мест',
                values: ['До 10 чел.', '10-20 чел.', '20-50 чел.', '50-100 чел.', '100-200 чел.', 'От 200 чел.'],
              },

              {
                title: '5.Укажите задачу,которую нужно решить:',
                values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
              },

              {
                title: '6.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
              },

              {
                title: '7.У Вас уже есть проект?',
                values: ['Да', 'Нет, нужно сделать'],
              },

              {
                title: '8. Когда нужно приступать к работе?',
                values: ['Вчера', 'Сегодня', 'Завтра', 'В течение недели', 'В течение месяца', 'Пока не знаю'],
              },
            ],

            office: [
              {
                title: '2.Укажите площадь помещения:',
                values: ['До 30 кв.м', 'От 30 кв. м до 60 кв. м', 'От 60 кв. м до 120 кв. м', 'От 120 кв. м до 200 кв. м', 'От 200 кв. м до 500 кв. м', 'От 500 кв. м '],
              },

              {
                title: '3.Укажите количество посетителей/мест',
                values: ['До 10 чел.', '10-20 чел.', '20-50 чел.', '50-100 чел.', '100-200 чел.', 'От 200 чел.'],
              },

              {
                title: '4.Укажите задачу,которую нужно решить:',
                values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
              },

              {
                title: '5.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
              },

              {
                title: '6.У Вас уже есть проект?',
                values: ['Да', 'Нет, нужно сделать'],
              },
            ],

            pool: [
              {
                title: '2.Укажите площадь помещения:',
                values: ['До 30 кв.м', 'От 30 кв. м до 60 кв. м', 'От 60 кв. м до 120 кв. м', 'От 120 кв. м до 200 кв. м', 'От 200 кв. м'],
              },

              {
                title: '3.Укажите площадь зеркала бассейна:',
                values: ['До 12 кв. м', 'От 12 кв. м до 20 кв. м', 'От 20 кв. м до 30 кв. м', 'От 30 кв.м до 50 кв.м', 'От 50 кв. м'],
              },

              {
                title: '4.Укажите задачу,которую нужно решить:',
                values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
              },

              {
                title: '5.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
              },

              {
                title: '6.У Вас уже есть проект?',
                values: ['Да', 'Нет, нужно сделать'],
              },

              {
                title: '7. Когда нужно приступать к работе?',
                values: ['Вчера', 'Сегодня', 'Завтра', 'В течение недели', 'В течение месяца', 'Пока не знаю'],
              },
            ],

            another: [
              {
                title: '2.Укажите площадь помещения:',
                values: ['До 30 кв.м', 'От 30 кв. м до 100 кв. м', 'От 100 кв. м до 300 кв. м', 'От 300 кв. м до 500 кв. м', 'От 500 кв. м'],
              },

              {
                title: '3.Укажите задачу,которую нужно решить:',
                values: ['Вентиляция', 'Кондиционирование', 'Вентиляция+кондиционирование', 'Нужна консультация'],
              },

              {
                title: '4.Выберите класс оборудования, который Вы хотели бы видеть на своем объекте:',
                values: ['Бюджет', 'Цена/качество', 'Премиум', 'Нужна консультация'],
              },

              {
                title: '5.У Вас уже есть проект?',
                values: ['Да', 'Нет, нужно сделать'],
              },

              {
                title: '5. Когда нужно приступать к работе?',
                values: ['Вчера', 'Сегодня', 'Завтра', 'В течение недели', 'В течение месяца', 'Пока не знаю'],
              },
            ],
          },

          methods: {
            toNextStep() {
              if ((this.step + 1) <= this.form.length) {
                this.step++;
              } else {
                this.activeNext = false
              }
            },

            getData() {
              this.contact.push(this.$refs.valueName.value, this.$refs.valueTel.value);
              this.answer.push(this.contact)

              const dataAnswer = JSON.stringify(this.answer);
              const dataContact = JSON.stringify(this.contact);

              // send data
              // fetch("https://jsonplaceholder.typicode.com/posts", {
              //   method: "POST",
              //   body: JSON.stringify(str),
              //   headers: {
              //     "Content-type": "application/json; charset=UTF-8",
              //   },
              // })
              //   .then((response) => response.json())
              //   .then((data) => {
              //     console.log(data)
              //   })
            },

            toPrevStep() {
              if (this.step !== 0) {
                this.step--;
              }
            },

            getValue(val) {
              const obj = {
                question: this.form[this.step - 1].title,
                answer: val,
              }

              this.answer[this.step] = obj;
            },

            startQuiz(val) {
              this.form = this.$data[val];
            }
          },

          watch: {
            step: function(val) {
              if (val === this.form.length) {
                this.show = true
                this.done = false

                setTimeout(() => {
                  jQuery('.section-quiz-validate').validate({
                    errorElement: "span",

                    rules: {
                      name: {
                        required: true,
                        lettersonly: true,
                      },

                      tel: {
                        required: true,
                        minlength: 6,
                      },
                    },

                    messages: {
                      name: {
                        required: "Пожалуйста, введите ваше Имя",
                        lettersonly: "Ваше имя не может состоять из цифр",
                      },

                      tel: {
                        required: "Пожалуйста, введите ваш номер телефона",
                        minlength: "Минимальная длина 6 символов",
                      },
                    }
                  })

                  var tel = document.getElementById('tel-quiz');

                  if (tel) {
                    var maskOptions = {
                      mask: '+{000}(00)000-00-00'
                    };

                    var mask = IMask(tel, maskOptions);
                  }
                }, 1)
              }
            }
          },

          computed: {
            formStep: function() {
              return this.form[this.step - 1]
            },

            progressValue: function() {
              if (this.step >= 1) {
                return `${Math.round((this.step / this.form.length) * 100) + '%'} уже готово!`
              }
            },
          }
        });
      });
    });
  </script>

  <div class="section-quiz vent-house">
    <div class="container">
      <div class="section-quiz-heading">
        <h2>Рассчет стоимости</h2>
        <p>Ответьте на несколько простых вопросов и получите:</p>
      </div>

      <div class="section-quiz-mob">
        <h2>Готовые решения и их стоимость</h2>
        <p>Получите бесплатный персональный расчет стоимости работ для Вашего объекта за 5 минут:</p>
      </div>

      <div class="section-quiz-content">
        <div class="section-quiz-header">
          <div class="section-quiz-items">
            <div class="flex">
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz1.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Консультация инженера
                </div>
                <div class="section-quiz-item-slogan">
                  Простым языком расскажет о вариантах решения Вашей задачи
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz2.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Выезд инженера
                </div>
                <div class="section-quiz-item-slogan">
                  Мастер приедет на место, оценит помещение, снимет замеры
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz3.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Эскизный чертеж
                </div>
                <div class="section-quiz-item-slogan">
                  До начала работ мы предоставим Вам 2 эскизных чертежа
                </div>
              </div>
              <div class="section-quiz-item">
                <div class="section-quiz-item-icon">
                  <img src="./images/icons/quiz4.svg" alt="alt">
                </div>
                <div class="section-quiz-item-subtitle">
                  Понятный расчет
                </div>
                <div class="section-quiz-item-slogan">
                  Рассчитаем стоимость материалов, оборудования и работ
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-quiz-body">
          <div class="section-quiz-body-question" v-if="step === 0">
            <div class="section-quiz-body-txt">
              {{ start.title }}
            </div>
          </div>
          <div class="section-quiz-body-question" v-if="step !== 0" >
            <div class="section-quiz-body-txt" v-if="done">
              {{ formStep.title }}
            </div>
          </div>

          <div class="section-quiz-progress-bar" v-if="done">
            <div class="section-quiz-progress-value">
              {{ progressValue }}
            </div>
            <div class="section-quiz-progress">
              <div class="section-quiz-progress-fill" :style="{width:(Math.round((step / form.length) * 100)) + '%'}">
              </div>
            </div>
          </div>

          <div class="section-quiz-end" v-bind:class="{ active: show }">
            <div class="section-quiz-end-title">
              Отлично! Вы ответили на все вопросы! <br>
              А мы уже расчитываем стоимость систем для Вашего помещения!
            </div>
            <div class="section-quiz-end-subtitle">
              Оставьте Ваши контакты, чтобы мы смогли выслать Вам расчет на Viber
            </div>
            <div class="section-quiz-form">
              <form action="#" class="section-quiz-validate">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="section-quiz-form-cell">
                      <input type="text" name="name" id="name" placeholder="Ваше имя" ref="valueName">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="section-quiz-form-cell">
                      <input type="tel" name="tel" id="tel-quiz" placeholder="Ваш номер" ref="valueTel">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="section-quiz-form-cell">
                      <input type="submit" name="submit" id="submit" value="Получить рассчет стоимости" @click.prevent="getData">
                    </div>
                  </div>
                </div>
              </Form>
            </div>
          </div>

          <div class="section-quiz-step" v-if="step === 0" v-if="done">
            <div class="section-quiz-body-answers">
              <div class="row">
                <div class="col-sm-4" v-for="(question, index) in start.questions">
                  <div class="section-quiz-body-answer">
                    <input type="radio" class="custom-checkbox" :id="index" name="answer" @change="startQuiz(question.value)">
                    <label :for="index">{{ question.title }}</label>
                    <div class="section-quiz-input"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-quiz-step" v-if="done">
            <div class="section-quiz-body-answers" v-if="step !== 0">
              <div class="row">
                <div class="col-sm-4" v-for="(value, index) in formStep.values">
                  <div class="section-quiz-body-answer">
                    <input type="radio" class="custom-checkbox" :id="index" name="answer" :value="value" @change="getValue(value)">
                    <label :for="index">{{ value }}</label>
                    <div class="section-quiz-input"></div>
                  </div>
                </div>
              </div>
            </div>

          <div class="section-quiz-controller" v-if="done">
            <div class="row">
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn prev" @click.prevent="toPrevStep">
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#back"></use>
                  </svg>
                  Вернуться назад
                </button>
              </div>
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn skip" @click.prevent="toNextStep">
                  Пропустить вопрос
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#skip"></use>
                  </svg>
                </button>
              </div>
              <div class="col-sm-4 col-ss-12">
                <button class="section-quiz-btn next" @click.prevent="toNextStep" v-bind:class="{ active: activeNext }">
                    Следующий вопрос
                  <svg>
                    <use xlink:href="./svg/svg/symbols.svg#next"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="section-object">
    <div class="section-object-items vent-house">
      <div class="container">
        <div class="section-object-items-title" id="section-object-items">
          Выполненные объекты
        </div>
        <div class="section-object-items-subtitle">
          Мы успешно реализовали более 500 объктов по всей Беларуси!
        </div>
        <div class="section-object-carts">
          <div class="row">
            <div class="col-md-4 col-xs-4 col-ss-6">
              <a href="javascript:void(0)" class="section-items-link-cart">
                <div class="section-object-items-cart">
                  <div class="section-object-items-img">
                    <img src="./images/cart.png" alt="alt">
                  </div>
                  <div class="section-object-items-txt">
                    <div class="section-object-items-headline">
                      Вентиляция в бассейне, ”Ясная поляна”
                    </div>
                    <div class="section-object-items-desc">
                      Для вентиляции бассейна также была использована установка фирмы TURKOV
                      производительностью по воздуху 700 куб. метров в
                      час.
                    </div>
                  </div>
                  <div class="section-object-items-btn">
                    <img src="./images/link.png" alt="alt">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-xs-4 col-ss-6">
              <a href="javascript:void(0)" class="section-items-link-cart">
                <div class="section-object-items-cart">
                  <div class="section-object-items-img">
                    <img src="./images/cart2.png" alt="alt">
                  </div>
                  <div class="section-object-items-txt">
                    <div class="section-object-items-headline">
                      Дом в деревне Горки, Слуцкий район
                    </div>
                    <div class="section-object-items-desc">
                      Основная разводка инженерных систем была произведена на цокольном этаже дома, что позволило
                      скрыть
                      большую часть
                      коммуникаций.
                    </div>
                  </div>
                  <div class="section-object-items-btn">
                    <img src="./images/link.png" alt="alt">
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-xs-4 col-none">
              <a href="javascript:void(0)" class="section-items-link-cart">
                <div class="section-object-items-cart">
                  <div class="section-object-items-img">
                    <img src="./images/cart3.png" alt="alt">
                  </div>
                  <div class="section-object-items-txt">
                    <div class="section-object-items-headline">
                      Коттеджный поселок “Ясная поляна”
                    </div>
                    <div class="section-object-items-desc">
                      Для вентиляции жилых помещений нами была использована установкафирмы TURKOV производительностью
                      по
                      воздуху 1000 куб.
                    </div>
                  </div>
                  <div class="section-object-items-btn">
                    <img src="./images/link.png" alt="alt">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="section-object-items-carts">
        </div>

        <div class="section-object-items-link">
          <a href="javascript:void(0)" class="section-object-items-open">Посмотреть все объекты</a>
        </div>
      </div>
    </div>

    <div class="section-object-bg">
      <img src="./images/bgs/work-bg.svg" alt="alt">
    </div>
  </div>

  <div class="section-questions vent-house">
    <div class="container">
      <div class="section-questions-title vent-house" id="section-questions-title">
        Получите бесплатный подбор оборудования под Ваш бюджет!
      </div>

      <div class="section-questions-subtitle">
        В течении 5 минут главный инженер свяжется с Вами и рассчитает стоимость оборудования
      </div>

      <div class="section-questions-form">
        <form action="#" class="section-questions-validate" novalidate="novalidate">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="section-questions-form-cell">
                  <input type="text" name="name" id="name" placeholder="Ваше имя">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="section-questions-form-cell">
                  <input type="tel" name="tel" id="tel" placeholder="Ваш номер">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-questions-form-cell">
                  <input type="submit" name="submit" id="submit" value="Подобрать оборудование">
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>

    <div class="section-content vent-building">
      <div class="section-content-text vent-building">
        <div class="container">
          <div class="flex">
            <div class="section-content-text-desc vent-building">
              <h3>
                Особенности вентиляции кафе и ресторанов
              </h3>

              <p>
                Правильная система вентиляции ресторана призвана решать следующие задачи:
              </p>
              <ul>
                <li>удаляет неприятные запахи;</li>
                <li>поддерживает оптимальный микроклимат в помещении, необходимый для сохранения целостности внутренней отделки;</li>
                <li>способствует выведению лишней влаги и тепла из помещений с работающим оборудованием, что необходимо для создания комфортных условий персоналу кафе.</li>
              </ul>
            </div>

            <div class="section-content-text-img vent-building">
              <h3>
                Особенности вентиляции кафе и ресторанов
              </h3>
              <img src="./images/vent-building-text1.png" alt="alt">
            </div>

          </div>
        </div>
      </div>

      <div class="section-content-list vent-building">
        <div class="container">
          <div class="section-content-list-desc">
            <p>
              Для ресторанов и кафе вентиляция имеет первостепенное значение, поэтому владельцы заведений общественного питания не должны торопиться с ее выбором. Рынок предлагает большое количество разнообразных вентиляционных систем отечественного и зарубежного производства. Для создания комфортного микроклимата используется вытяжная и приточная вентиляция в ресторанах. В большинстве заведений предпочтение отдается оборудованию от известных мировых производителей, поскольку оно обладает рядом преимуществ:
            </p>

            <ul>
              <li>компактность;</li>
              <li>бесшумность;</li>
              <li>полностью автоматизированное управление;</li>
              <li>высокий КПД;</li>
              <li>возможность установки в зданиях с разными техническими условиями независимо от площади рабочего помещения.</li>
            </ul>

            <p>К тому же, современные модели вентиляционных систем часто интегрируются с системами отопления или кондиционирования. Такое совмещение намного упрощает процесс регулирования температурного режима в помещении и обеспечивает комфортный микроклимат.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="section-box-text vent-house">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-img">
            <h3>
              Микроклимат в офисе
            </h3>
            <img src="./images/vent-building-box1.png" alt="alt">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="section-box-text-desc">
            <h3>
              Микроклимат в офисе
            </h3>

            <p>
              Микроклимат в офисе, как мы все знаем, складывается из сочетания базовых показателей – температуры, влажности и содержания углекислого газа. С первыми двумя пунктами все более-менее ясно. Влажность воздуха должна соответствовать общепринятым нормам, и они едины для всех помещений – не ниже 30% зимой и не ниже 40% летом. Оптимальной считается влажность 50-60%, при таком содержании воды в воздухе работать комфортно и слизистые не сохнут, что особенно важно для глаз офисных сотрудников.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content-list">
    <div class="container">
      <div class="section-content-list-desc vent-house">
        <p>
          Температурные нормы более индивидуальны, однако вычисляются они также без учета типа помещения, большее значение имеют субъективные предпочтения сотрудников и общечеловеческие механизмы работы мозга. Если не трогать вечное противоборство между теми, кому жарко и кому дует, то средняя температура в офисе должна держаться в диапазоне от +20 до +25°С. При достижении отметки термометра в 26 градусов и ее превышении организм человека «млеет от жары», замедляется реакция, повышается утомляемость.
        </p>

        <p>
          Температура ниже +20 градусов также сказывается на производительности офиса, вызывая сонливость, а при длительной перспективе и увеличивая процент больничных, что не выгодно ни руководству, ни самим сотрудникам.
        </p>

        <p>
          Даже при соблюдении всех норм по первым двум показателям атмосфера в офисе может не располагать не только для работы, но и для жизни. И основная проблема офисных микроклиматов обычно скрывается в вентиляции. Даже если компания обосновалась в комфортном здании с профессиональной системой вентиляции, свежего воздуха может не хватать, а если речь идет об обычном жилом здании, то его зачастую нет вовсе
        </p>
      </div>
    </div>
  </div>

  <div class="section-box-text up vent-house">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section-box-text-desc">
            <h3>
              Особенности воздухообмена бассейнов
            </h3>

            <p>
              Во время строительства плавательных бассейнов общественного и частного назначения иногда не уделяют должного внимания вентилированию залов, считая их нежилыми помещениями.
            </p>

            <p>
              Однако именно там без должного обустройства зарождается вредоносные фауна и флора, несущие реальную угрозу практически незащищенным организмам купальщиков и пловцов.
            </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="section-box-text-img">
            <h3>
              Особенности воздухообмена бассейнов
            </h3>
            <img src="./images/vent-building-box2.png" alt="alt">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-content-list">
    <div class="container">
      <div class="section-content-list-desc list-style">
        <p>
          Правильная организация вентиляции бассейна и воздухообмена кардинально решает целый ряд эксплуатационных проблем, возникающих в подобных сооружениях. Назначение приборов воздухообмена бассейнов закрытого типа — поддерживать влажность в пределах допустимых установленных норм.
        </p>

        <p>
          Специализированное оборудование удаляет избыток влаги и способствует притоку свежего воздуха, создавая при этом хорошие условия для посетителей. Задачу усложняет необходимость организации микроклимата, комфортного для нахождения в бассейне раздетыми.
        </p>

        <p>
          Вентиляция помещений бассейна выполняет две основные функции:
        </p>

        <ul>
          <li>поддержание оптимальных показаний влажности;</li>
          <li>обеспечение воздухообмена согласно санитарно-гигиенических норм.</li>
          <li>Открытая поверхность воды и мокрые ходовые дорожки испаряют водяные пары, значительно увеличивая влажность.</li>
          <li>В помещении с повышенной влажностью человеку не комфортно, он ощущает излишнюю духоту и утомительную тяжесть.</li>
        </ul>

        <p>
          Отрицательное влияние также имеет загрязненный воздух бассейна с микропримесями хлора из воды и углекислого газа, выдыхаемого посетителями.
        </p>
      </div>
    </div>
  </div>
</div>

<!--#include file="inc-footer.html"-->